@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=latin-ext");
/*#37EEA3*/
/*#24CE88*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, q, blockquote,
a, p, u, em, i, b, strong, img,
ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

ol li, ul li {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  overflow-x: hidden; }

h1, h2, h3 {
  color: #000666;
  font-weight: bold;
  margin-bottom: 10px; }

h1 {
  font-size: 3rem;
  margin: 20px 0; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 18px; }

p, li {
  color: #6F83A8;
  font-weight: 500; }

a {
  font-weight: 500; }

input {
  border: 1px solid #dbdfe2;
  padding: 15px;
  font-weight: 500;
  border-radius: 4px;
  color: #6F83A8; }

.fastInfoWrapper, .footerWrapper, .headerWrapper, .aboutUsWrapper {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto; }

/* --- Navigation --- */
.ham-nav {
  /*background: linear-gradient(120deg, #4986F2 20%, #964BF2 80%);*/
  box-shadow: none;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0; }

.ham-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }

.ham-nav li a {
  display: block;
  text-decoration: none;
  font-weight: bold; }

.ham-nav li a:hover,
.ham-nav .menu-btn:hover {
  border-bottom: 3px solid white; }

.ham-nav #logo {
  display: block;
  float: left;
  /*padding: 10px 20px;*/ }

.ham-nav #logo img {
  max-width: 50px;
  width: 100%; }

.ham-nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out; }

/* menu icon */
.ham-nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 9px 0;
  position: relative;
  user-select: none; }

.ham-nav .menu-icon .navicon {
  background: #000666;
  display: block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 24px;
  border-radius: 2px; }

.ham-nav .menu-icon .navicon:before,
.ham-nav .menu-icon .navicon:after {
  background: #000666;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  border-radius: 2px; }

.ham-nav .menu-icon .navicon:before {
  top: 7px; }

.ham-nav .menu-icon .navicon:after {
  top: -7px; }

.ham-nav .menu-btn {
  display: none; }

.ham-nav .menu-btn:checked ~ .menu {
  max-height: 240px; }

.ham-nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }

.ham-nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg); }

.ham-nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg); }

.ham-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.ham-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }

.ham-nav .menu-btn:not(:checked) ~ .menu-icon .navicon::before {
  content: "MENU";
  font-size: 0.7rem;
  font-weight: bold;
  background: transparent;
  height: initial;
  top: 4px;
  color: #EE3784; }

.ham-nav .menu-btn:not(:checked) ~ .menu-icon .navicon {
  width: 36px; }

/* 48em = 768px */
@media (min-width: 48em) {
  .ham-nav li {
    float: left; }
  .ham-nav li a {
    padding: 20px 0 10px 0;
    margin: 0 25px; }
  .ham-nav .menu {
    clear: none;
    float: right;
    max-height: none; }
  .ham-nav .menu-icon {
    display: none; } }

/* --- Header --- */
.headerWrapper {
  position: relative; }

.headerContent {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 480px; }

.headerContentWrapper {
  position: relative;
  width: 490px;
  background-color: white;
  padding: 5.3rem 1rem 5.3rem 0;
  text-align: center; }

.search input {
  width: 100%;
  max-width: 20rem; }

.headerWrapper .add-city-bar {
  margin: 10px 0; }

.headerWrapper .search-btn {
  border: none;
  border-bottom: 3px solid #BE0754;
  border-radius: 4px;
  padding: 15px;
  font-weight: 500;
  color: white;
  background-color: #EE3784;
  box-shadow: 0 25px 25px -15px rgba(238, 55, 132, 0.6);
  /*0 25px 25px -15px rgba(55, 238, 163, 0.7)*/ }
  .headerWrapper .search-btn:hover {
    background-color: #DE2774; }

.headerImg {
  position: absolute;
  top: 0;
  margin-left: calc(50% - 238px);
  z-index: 1;
  height: 480px; }

/* --- About Us --- */
.aboutUsWrapper {
  text-align: center; }

/* --- Fast Info --- */
#fastInfo {
  background-color: #e8f0f6; }

#fastInfo .col-md-4 {
  text-align: center; }

.fastInfoWrapper .row {
  display: flex;
  align-items: center; }

.fastInfoIcon svg {
  max-width: 55px;
  height: auto;
  margin-bottom: 10px; }

form.newsletter {
  margin-top: 10px; }

form.newsletter button {
  border: none;
  border-bottom: 3px solid #BE0754;
  border-radius: 4px;
  padding: 15px;
  font-weight: 500;
  color: white;
  background-color: #EE3784;
  margin-left: 10px;
  box-shadow: 0 25px 25px -15px rgba(238, 55, 132, 0.6);
  /*0 25px 25px -15px rgba(55, 238, 163, 0.7)*/ }
  form.newsletter button:hover {
    background-color: #DE2774; }

/* --- Footer --- */
footer h4 {
  margin-bottom: 10px; }

footer .footerBox ul li a, footer .footerBox ul li {
  /*font-weight: 300;*/
  color: #6F83A8; }

footer .footerBox ul li strong {
  font-weight: bold; }

footer svg {
  max-width: 20px;
  height: auto;
  margin-right: 5px; }

.row.footerBottomContent p {
  font-size: smaller;
  font-weight: 300; }

.row.footerBottomContent a {
  font-weight: 300;
  color: #EE3784; }

footer .footerBox ul li a.email, footer .footerBox ul li a.phone-number {
  font-weight: bold;
  color: #EE3784; }

/* ***--- LogIn Styles ---*** */
.logIn-page {
  min-height: 100vh;
  background-color: #fff; }

.logIn-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: #fff;
  padding: 3rem;
  border: 1px solid #dbdfe2; }

body.logIn-page h2 {
  color: #000666; }

.logIn-page .logIn-wrapper input {
  width: 100%;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #dbdfe2; }

body.logIn-page .logIn-btn {
  border: none;
  border-bottom: 3px solid #BE0754;
  border-radius: 4px;
  padding: 15px;
  font-weight: 500;
  color: white;
  background-color: #EE3784;
  box-shadow: 0 25px 25px -15px rgba(238, 55, 132, 0.6);
  /*0 25px 25px -15px rgba(55, 238, 163, 0.7)*/ }
  body.logIn-page .logIn-btn:hover {
    background-color: #DE2774; }

.logIn-text {
  padding: 1.8rem 0; }

.logIn-page .logIn-text svg {
  max-width: 44px;
  height: auto;
  margin-bottom: 10px; }

/* ***--- End of LogIn page ---*** */
/* --- Responsive --- */
@media only screen and (min-width: 768px) {
  .hamMenu {
    display: none; }
  footer, section {
    padding: 4rem 20px; }
  header {
    padding: 2rem 20px 4rem 20px; }
  nav {
    padding: 0 0 2rem 0; }
  .row.footerBottomContent {
    padding-top: 4rem; }
  .col-md-6.copyright {
    text-align: right; } }

@media only screen and (max-width: 767px) {
  body .row {
    margin: 0; }
  body [class*="col-"] {
    padding: 0; }
  .headerImg {
    display: none; }
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.4rem; }
  h3 {
    font-size: 1rem; }
  a, p, li, input {
    font-size: .9rem; }
  input {
    width: 100%; }
  section, footer, header {
    padding: 1.8rem;
    text-align: center; }
  nav {
    padding-bottom: 1rem; }
  .ham-nav {
    position: relative;
    display: inline-block; }
  .ham-nav .menu {
    width: 100%;
    position: absolute;
    top: 60px; }
  .headerContent {
    height: initial; }
  .headerContentWrapper {
    width: 100%;
    padding: 0; }
  body .newsletter-box {
    padding-bottom: 1.8rem; }
  body .newsletter button {
    width: 100%;
    margin: 10px 0 0 0; }
  .advantages-box .row .col-md-4:nth-child(2), .footerWrapper .row .footerBox:nth-child(2) {
    padding: 1.8rem 0; }
  .footerBottomContent {
    padding-top: 1.8rem; } }
