@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=latin-ext");
html, body, div, span,
h1, h2, h3, h4, h5, h6, q, blockquote,
a, p, u, em, i, b, strong, img,
ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

ol li, ul li {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 18px; }

h1, h2, h3 {
  color: #000666;
  font-weight: bold;
  margin-bottom: 10px; }

p {
  color: #6F83A8;
  font-weight: 500; }

a {
  font-weight: 500; }

img {
  width: 100%; }

input {
  border: 1px solid #ebeff2;
  padding: 15px;
  font-weight: 500;
  border-radius: 4px;
  color: #6F83A8; }

.fastInfoWrapper, .footerWrapper, .navWrapper, .headerContent, .aboutUsWrapper {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto; }

/* --- Navigation --- */
nav .navWrapper ul {
  text-align: right; }

nav ul li {
  display: inline-block;
  margin: 0 10px; }

/* --- About Us --- */
.aboutUsWrapper {
  text-align: center; }

/* --- Fast Info --- */
#fastInfo {
  background-color: #f2f6f9; }

#fastInfo .col-md-4 {
  text-align: center; }

.fastInfoIcon svg {
  max-width: 55px;
  height: auto;
  margin-bottom: 10px; }

#fastInfo .fastInfoWrapper h3 {
  margin: 0; }

form.newsletter {
  margin-top: 10px; }

form.newsletter button {
  border: none;
  border-bottom: 3px solid #24CE88;
  border-radius: 4px;
  padding: 15px;
  font-weight: 500;
  color: white;
  background-color: #37EEA3;
  margin-left: 10px; }
  form.newsletter button:hover {
    background-color: #32E99E; }

/* --- Footer --- */
footer h4 {
  margin-bottom: 10px; }

footer .footerBox ul li a, footer .footerBox ul li {
  font-weight: 300;
  color: #6F83A8; }

footer .footerBox ul li strong {
  font-weight: bold; }

footer svg {
  max-width: 20px;
  height: auto;
  margin-right: 5px; }

.row.footerBottomContent p {
  font-size: smaller;
  font-weight: 300; }

.row.footerBottomContent a {
  font-weight: 300;
  color: #37EEA3; }

footer .footerBox ul li a.email, footer .footerBox ul li a.phone-number {
  font-weight: bold;
  color: #37EEA3; }

@media only screen and (min-width: 768px) {
  footer, section {
    padding: 4rem 20px; }
  header {
    padding: 2rem 20px 4rem 20px; }
  nav {
    padding: 0 20px 2rem 20px; }
  .headerContent {
    padding-top: 2rem; }
  .row.footerBottomContent {
    padding-top: 4rem; }
  .col-md-6.copyright {
    text-align: right; } }

/* --- Responsive --- */
