@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=latin-ext");
/* DARK THEME -------------------------- */
/* LIGHT THEME -------------------------- */
/*e8f0f6, #F1F1F1*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, q, blockquote,
a, p, u, em, i, b, strong, img,
ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

ol li, ul li {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media only screen and (max-width: 767px) {
  #my_video_1 {
    width: 100%;
    height: 220px; } }

body {
  font-family: "Montserrat", sans-serif;
  background: #131417;
  line-height: 1.5;
  overflow-x: hidden; }

html body input, html body button {
  box-shadow: none; }

h1, h2, h3 {
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 10px; }

h1 {
  /*font-size: 3rem;*/
  margin: 1rem 0; }

/*h1 strong{
  text-shadow: 3px 4px rgba(61, 191, 174, .7), -2px -3px rgba(218, 46, 143, .7);
}*/
h2 {
  font-size: 1.8rem; }

h2 strong {
  color: #C10F77; }

h3 {
  font-size: 18px; }

p, li, span {
  color: #9b9dad;
  font-weight: 500; }

a {
  font-weight: 500;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

input {
  border: 1px solid #dbdfe2;
  padding: 15px;
  font-weight: 500;
  border-radius: 4px;
  color: #9b9dad; }

input {
  background-color: #2a2d34;
  border: 1px solid #2a2d34; }

.fastInfoWrapper, .footerWrapper, .headerWrapper, .aboutUsWrapper, .ham-nav, .voucher-list-content, .com-wrapper {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto; }

/* --- Navigation --- */
.ham-nav {
  width: 100%;
  /*background: linear-gradient(120deg, #4986F2 20%, #964BF2 80%);
	box-shadow: none;
  position: fixed;
  z-index: 10;
	top: 0;
  left: 0;*/ }

.ham-nav li a {
  display: block;
  font-weight: bold;
  padding: 13px 0; }

.ham-nav .logIn-nav a, .ham-nav .register-nav a {
  color: #C10F77 !important; }

.ham-nav li:not(.logIn-nav):not(.register-nav) a {
  color: #fff; }

.ham-nav li:last-child a {
  border: none; }

.ham-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }

.ham-nav #logo {
  float: left; }

.ham-nav #logo svg {
  width: 100%;
  max-width: 35px;
  height: auto; }

.ham-nav #logo img {
  max-width: 50px;
  width: 100%; }

.ham-nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out; }

.logo-wrapper, .nav-menu-wrapper {
  flex-grow: 1; }

.nav-menu-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

/* menu icon */
.ham-nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 9px 0;
  position: relative;
  user-select: none; }

.ham-nav .menu-icon .navicon {
  background: #000666;
  display: block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 24px;
  border-radius: 2px; }

.ham-nav .menu-icon .navicon:before,
.ham-nav .menu-icon .navicon:after {
  background: #000666;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  border-radius: 2px; }

.ham-nav .menu-icon .navicon:before {
  top: 7px; }

.ham-nav .menu-icon .navicon:after {
  top: -7px; }

.ham-nav .menu-btn {
  display: none; }

.ham-nav .menu-btn:checked ~ .menu {
  max-height: initial;
  padding: 1rem; }

.ham-nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }

.ham-nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg); }

.ham-nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg); }

.ham-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.ham-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }

.ham-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::before, .ham-nav .menu-icon .navicon, .ham-nav .menu-icon .navicon::after {
  background: #fff; }

.ham-nav .menu-btn:not(:checked) ~ .menu-icon .navicon::before {
  content: "MENU";
  font-size: 0.7rem;
  font-weight: normal;
  background: transparent;
  height: initial;
  top: 4px;
  color: #fff; }

.ham-nav .menu-btn:not(:checked) ~ .menu-icon .navicon {
  width: 36px; }

/* 48em = 768px */
@media (min-width: 48em) {
  .ham-nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
  .ham-nav #logo {
    flex-grow: 1; }
  .ham-nav .menu {
    flex-grow: 2;
    text-align: right;
    clear: none;
    float: none;
    max-height: none; }
  .ham-nav li {
    display: inline-block; }
  .ham-nav li a {
    padding: 0;
    margin: 0 20px; }
  .ham-nav #logo {
    float: none; }
  .ham-nav .menu-icon {
    display: none; } }

/* --- Swipe btn --- */
.swipe-btn {
  display: inline-block;
  width: 70px;
  height: 36px;
  position: relative;
  border-radius: 20px;
  color: #FFF;
  overflow: hidden;
  /*box-shadow: 0 1px 0 #CCC;*/
  border: 2px solid #D3D2D2;
  /*margin-left: 10px;*/ }

.swipe-btn label {
  width: 200%;
  height: 36px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.13s;
  -moz-transition: 0.13s;
  transition: 0.13s;
  font-size: 12px;
  z-index: 1;
  cursor: pointer; }

.swipe-btn label::before {
  content: "ON";
  width: 50px;
  height: 36px;
  float: left;
  margin-right: -16px;
  padding: 3px 0 0 4px;
  text-align: center;
  background: #E8F0F6;
  text-indent: -16px; }

.swipe-btn label::after {
  content: "OFF";
  width: 50px;
  height: 36px;
  float: left;
  margin-left: -15px;
  padding: 3px 0 0 6px;
  text-align: center;
  color: #999;
  background: #ccc; }

.swipe-btn label b {
  display: block;
  width: 33px;
  height: 33px;
  float: left;
  position: relative;
  z-index: 1;
  /*border: 1px solid #D3D2D2;*/
  background: #fff;
  border-radius: 20px;
  box-shadow: 4px 0 10px 1px rgba(0, 0, 0, 0.5); }

.swipe-btn input:checked ~ label b {
  background: #131417;
  box-shadow: 4px 0 10px 1px #000;
  border: none; }

.swipe-btn input:checked ~ label::after {
  background: #1E1F26; }

.swipe-btn input {
  display: none; }

.swipe-btn input:checked ~ label {
  left: -35px; }

/* --- Header --- */
.home header {
  padding: 2rem 20px 4rem 20px;
  background-image: url("../../imgs/head-bg06.png");
  /*head-bg04*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right; }

.headerWrapper {
  position: relative; }

.headerContent {
  /*display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    z-index: 2;
    height: 480px;*/
  text-align: center; }

.headerContentWrapper {
  /*position: relative;
    background-color: white;*/
  width: 490px;
  padding: 5.5rem 1rem 5.6rem 0;
  text-align: center;
  margin: 0 auto; }

.search input {
  width: 100%;
  /*max-width: 20rem;*/ }

.headerWrapper .add-city-bar {
  margin: 0 0 10px 0; }

.headerWrapper .search-btn {
  border: none;
  border-bottom: 3px solid #8C0042;
  border-radius: 4px;
  padding: 15px;
  font-weight: 500;
  color: white;
  background-color: #C10F77; }
  .headerWrapper .search-btn:hover {
    background-color: #DE2774; }

.headerImg {
  position: absolute;
  top: 0;
  margin-left: calc(50% - 238px);
  z-index: 1;
  height: 480px; }

/* --- About Us --- */
.aboutUsWrapper {
  text-align: center; }

/* --- Fast Info --- */
#fastInfo {
  background: #1E1F26; }

#fastInfo .col-md-4 {
  text-align: center; }

.fastInfoWrapper .row {
  display: flex;
  align-items: center; }

.fastInfoIcon svg {
  max-width: 55px;
  height: auto;
  margin-bottom: 10px; }

.fastInfoIcon svg .active-path {
  fill: #fff; }

form.newsletter {
  margin-top: 10px; }

form.newsletter button {
  border: none;
  border-bottom: 3px solid #8C0042;
  border-radius: 4px;
  padding: 15px;
  font-weight: 500;
  color: white;
  background-color: #C10F77;
  margin-left: 10px; }
  form.newsletter button:hover {
    background-color: #DE2774; }

/* --- Footer --- */
footer h4 {
  margin-bottom: 10px; }

footer .footerBox ul li a, footer .footerBox ul li {
  /*font-weight: 300;*/
  color: #9b9dad; }

footer .footerBox ul li strong {
  font-weight: bold; }

footer svg {
  max-width: 20px;
  height: auto;
  margin-right: 5px; }

.row.footerBottomContent p {
  font-size: smaller;
  font-weight: 300; }

.row.footerBottomContent a {
  font-weight: 300;
  color: #C10F77 !important; }

footer .footerBox ul li a.email, footer .footerBox ul li a.phone-number {
  font-weight: bold;
  color: #C10F77 !important; }

.footerWrapper .row .col-md-4.footerBox:nth-child(2) li {
  padding: 3px 0; }

/* ***--- LogIn, Register Styles ---*** */
.logIn-page, .register-page {
  background-color: #131417; }

.logIn-wrapper, .register-wrapper {
  margin: 0 auto;
  text-align: center;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, .1);*/
  border-radius: 6px;
  background-color: #1E1F26;
  /*border: 1px solid #dbdfe2;*/ }

.logIn-page .logIn-wrapper a, .register-page .register-wrapper a {
  color: #C10F77 !important;
  font-weight: bold; }

body.logIn-page h2, body.register-page h2 {
  color: #FFFFFF; }

.logIn-page .logIn-wrapper input:not([name="remember-me"]), .register-page .register-wrapper input:not([type="checkbox"]) {
  width: 100%;
  margin: 5px 0;
  /*background-color: #fff;
  border: 1px solid #dbdfe2;*/ }

html body.logIn-page #logIn .logIn-form .logIn-btn, html body.register-page #register .register-form .register-btn {
  border: none;
  border-bottom: 3px solid #8C0042;
  border-radius: 4px;
  padding: 15px;
  font-weight: 500;
  color: white;
  background-color: #C10F77; }
  html body.logIn-page #logIn .logIn-form .logIn-btn:hover, html body.register-page #register .register-form .register-btn:hover {
    background-color: #DE2774; }

.logIn-text, .register-text {
  padding: 1.8rem 0 10px 0; }

.logIn-page .logIn-text svg, .register-page .register-text svg {
  max-width: 44px;
  height: auto;
  margin-bottom: 10px; }

body.register-page .register-text svg path, body.logIn-page .logIn-text svg path {
  fill: #9b9dad; }

.or-line {
  position: relative;
  padding: 10px 0; }

.or-line span {
  background-color: #1E1F26;
  position: relative;
  z-index: 1;
  padding: 0 10px; }

.or-line::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #dbdfe2;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

.fb-logIn, .google-logIn, .fb-register, .google-register {
  position: relative; }

.logIn-page .logIn-wrapper .fb-logIn input, .register-page .register-wrapper .fb-register input {
  background-color: #3b5998;
  color: #fff;
  border: none;
  border-bottom: 3px solid #1b3978; }
  .logIn-page .logIn-wrapper .fb-logIn input:hover, .register-page .register-wrapper .fb-register input:hover {
    background-color: #2b4988; }

.logIn-page .logIn-wrapper .google-logIn input, .register-page .register-wrapper .google-register input {
  background-color: #dd4b39;
  color: #fff;
  border: none;
  border-bottom: 3px solid #bd2b19; }
  .logIn-page .logIn-wrapper .google-logIn input:hover, .register-page .register-wrapper .google-register input:hover {
    background-color: #cd3b29; }

.logIn-page .logIn-wrapper .fb-logIn svg, .logIn-page .logIn-wrapper .google-logIn svg, .register-page .register-wrapper .fb-register svg, .register-page .register-wrapper .google-register svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 16px;
  height: auto;
  left: 15px; }

.remember-me, .register-conditions {
  text-align: left; }

.remember-me, .register-page .terms-and-conditions, .register-page .newsletter-conditions {
  position: relative;
  padding-left: 20px;
  margin: 5px 0; }

.register-page input[type="checkbox"], .logIn-page input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 5px; }

.logIn-form .remember-me span, .register-conditions span {
  font-weight: 500; }

.logIn-page .forgotten-pass {
  padding-top: 1.8rem; }

/* ***--- End of LogIn and Register page ---*** */
#voucher-fixed-info {
  position: fixed;
  width: 100%;
  z-index: 1; }

#voucher-count {
  font-size: 4rem;
  font-weight: bold;
  color: #C10F77; }

.voucher-layout #voucher-list {
  background-color: #131417;
  position: relative;
  z-index: 2;
  /*box-shadow: 0 -10px 20px rgba(0, 0, 0, .4);*/
  /*border-radius: 45px 45px 0 0;*/
  /*margin-top: 205px;*/
  padding-top: 0; }

.add-voucher.voucher-cat-box {
  width: 100%;
  background: #2a2d34;
  border-radius: 4px;
  max-width: 150px; }

.voucher-cats-wrapper {
  overflow-x: scroll;
  width: 100%;
  display: inline-block;
  white-space: nowrap; }

.voucher-cats {
  position: relative; }

.voucher-cat-box {
  display: inline-block;
  position: relative;
  margin: 5px 5px 5px 0;
  background: transparent;
  vertical-align: top;
  box-sizing: border-box; }

.voucher-list {
  padding-top: 1.4rem; }

.voucher-list-item {
  display: flex;
  flex-flow: row;
  align-items: center; }

.voucher-item-info {
  float: left;
  width: 75%;
  text-align: left;
  /*white-space: nowrap;*/ }

.voucher-item-btn {
  float: right;
  width: 25%;
  text-align: right; }

.voucher-item-img, .voucher-item-text {
  display: inline-block;
  vertical-align: middle; }

.voucher-item-img {
  margin-right: 5px; }

.add-voucher-content {
  white-space: initial;
  padding: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  box-sizing: border-box; }

.add-voucher-content svg {
  max-width: 40px;
  background: linear-gradient(-45deg, #964BF2, #C10F77);
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 5px; }

/*#voucher-eye-detail svg{
  max-width: 16px;
}

#voucher-eye-detail {
  display: inline;
  margin-right: 5px;
}*/
.voucher-cat-box img {
  width: 100%;
  max-width: 150px;
  display: block;
  border-radius: 4px;
  opacity: .6;
  transition: all .15s ease; }

.voucher-cat-box > input[type="checkbox"] {
  display: none; }

.voucher-cat-box :checked + label img {
  transform: scale(0.95);
  opacity: .20; }

.voucher-cat-box > label {
  position: relative;
  cursor: pointer; }

.voucher-cat-box :checked + label::before {
  content: "\f14a";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  color: white;
  z-index: 3;
  font-weight: bold;
  top: 10px;
  right: 10px; }

.voucher-item-img img {
  border-radius: 4px;
  display: block;
  max-width: 55px; }

.voucher-item-text h3 {
  margin: 0; }

.voucher-cat-box:not(.add-voucher) p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-weight: bold;
  color: white; }

.voucher-list-wrapper ul li {
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box; }

.voucher-list-wrapper ul li:nth-child(2n) {
  background: #1D1E21; }

.voucher-cat-direction {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; }

.voucher-cat-direction i {
  font-size: 1.8rem;
  opacity: .8; }

.voucher-cat-direction .fas.fa-chevron-left {
  position: fixed;
  left: 0; }

.voucher-cat-direction .fas.fa-chevron-right {
  position: fixed;
  right: 0; }

@media only screen and (max-width: 479px) {
  .voucher-item-btn {
    text-align: center; } }

@media only screen and (max-width: 767px) {
  .voucher-cat-box img {
    max-width: 120px; }
  .voucher-item-text h3, .voucher-item-text p {
    max-width: 115px; }
  .add-voucher.voucher-cat-box {
    width: 100%;
    max-width: 120px;
    min-height: 166px; } }

/* --- City layout --- */
.com-box {
  background-color: #1E1F26;
  border-radius: 4px;
  margin: 10px 0; }

.com-parts-wrapper {
  overflow-x: scroll;
  white-space: nowrap; }

.com-part-box {
  display: inline-block; }

.com-header {
  padding: 10px;
  box-sizing: border-box; }

.com-content {
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  display: inline-block;
  width: 100%; }

.com-advantages, .com-btns {
  float: left;
  width: 50%;
  text-align: left; }

.com-heading {
  width: 100%;
  display: inline-block; }

.com-heading-title, .com-open-or-close {
  float: left;
  width: 50%;
  text-align: left; }

.com-heading-title h3 {
  margin: 0; }

.com-btns.com-small-info > a {
  margin: 0 3px; }

.com-btns.com-small-info a {
  color: #9b9dad; }

.com-advantages p i {
  margin-right: 5px;
  color: #25ca7d; }

.com-header img {
  width: 100%;
  border-radius: 4px;
  display: block; }

.com-preview-reservation a {
  display: inline-block;
  vertical-align: middle; }

.com-preview-reservation a i, .com-preview-direction a i {
  min-width: 26px;
  min-height: 26px;
  background: #131417;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px; }

.com-preview-reservation a i::before, .com-preview-direction a i::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: #9b9dad; }

.com-preview-direction {
  margin: 3px 0; }

/*.com-advantages p::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
}*/
/* --- Responsive --- */
@media only screen and (min-width: 480px) {
  .logIn-wrapper, .register-wrapper {
    max-width: 400px; }
  .logIn-page, .register-page {
    min-height: 100vh; } }

@media only screen and (max-width: 479px) {
  .logIn-page, .register-page {
    background-color: #1E1F26; }
  .logIn-page #logIn, .register-page #register {
    padding: 0; }
  .logIn-page .logIn-text, .register-page .register-text {
    padding: 0 0 10px 0; } }

@media only screen and (min-width: 768px) {
  .hamMenu {
    display: none; }
  h1 {
    font-size: 1.75rem; }
  .logIn-wrapper, .register-wrapper {
    padding: 3rem; }
  footer, section {
    padding: 4rem 20px; }
  header {
    padding: 2rem 20px 4rem 20px; }
  .headerWrapper {
    padding: 5rem 0; }
  .register-page header, .logIn-page header {
    padding: 2rem 20px; }
  .register-page #register, .logIn-page #logIn {
    padding: 2rem 20px 4rem 20px; }
  nav {
    padding: 0 0 2rem 0; }
  .register-page nav, .logIn-page nav {
    padding: 0; }
  .row.footerBottomContent {
    padding-top: 4rem; }
  .col-md-6.copyright {
    text-align: right; }
  /* ***--- LogIn page ---*** */
  .logIn-wrapper > .row .col-md-6:first-child, .register-wrapper > .row .col-md-6:first-child {
    padding-right: 5px; }
  .logIn-wrapper > .row .col-md-6:last-child, .register-wrapper > .row .col-md-6:last-child {
    padding-left: 5px; }
  .logIn-page .logIn-wrapper .fb-logIn input, .logIn-page .logIn-wrapper .google-logIn input, .register-page .register-wrapper .fb-register input, .register-page .register-wrapper .google-register input {
    padding-left: 35px; } }

@media only screen and (max-width: 767px) {
  body .row {
    margin: 0; }
  body [class*="col-"] {
    padding: 0; }
  .headerImg {
    display: none; }
  .home header {
    padding: 1.4rem; }
  h1 {
    font-size: 1.1rem; }
  /*h1 span{
    font-size: 2rem;
  }*/
  h2 {
    font-size: 1.4rem; }
  h3 {
    font-size: 1rem; }
  a, p, li, input, span, button {
    font-size: 0.8rem; }
  .ham-nav #logo svg {
    max-width: 25px; }
  input:not([type="checkbox"]) {
    width: 100%; }
  .search {
    max-width: 298px;
    margin: 0 auto; }
  section, footer, header {
    padding: 1.4rem;
    text-align: center; }
  .headerContentWrapper svg {
    max-width: 298px; }
  .logIn-wrapper, .register-wrapper {
    padding: 0 1.8rem 1.8rem 1.8rem; }
  .logIn-page header, .register-page header {
    padding: 1.8rem 1.8rem 0 1.8rem; }
  nav {
    padding-bottom: 1rem; }
  .ham-nav {
    position: relative;
    display: flex;
    align-items: center; }
  .ham-nav .menu {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1E1F26;
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    z-index: 10; }
  .ham-nav li a {
    border-bottom: 1px solid #24262b; }
  .headerContent {
    height: initial; }
  .headerContentWrapper {
    width: 100%;
    padding: 5rem 0 0 0; }
  body .newsletter-box {
    padding-bottom: 1.8rem; }
  body .newsletter button {
    width: 100%;
    margin: 10px 0 0 0; }
  .advantages-box .row .col-md-4:nth-child(2), .footerWrapper .row .footerBox:nth-child(2) {
    padding: 1.8rem 0; }
  .footerBottomContent {
    padding-top: 1.8rem; } }

@media only screen and (max-width: 959px) {
  /*.headerContentWrapper svg{
    max-width: 285px;
  }*/ }

/* LIGHT THEME -------------------------------------------------------------------------------------------------------- */
body#light-theme {
  background: #FFFFFF; }

#light-theme h2, #light-theme h3, body#light-theme.logIn-page h2, body#light-theme.register-page h2 {
  color: #000666; }

#light-theme #fastInfo {
  background: #e8f0f6; }

#light-theme .fastInfoIcon svg .active-path {
  fill: #000666; }

#light-theme .or-line span {
  background-color: #FFFFFF; }

#light-theme .headerWrapper .search-btn, #light-theme form.newsletter button, html body#light-theme.logIn-page #logIn .logIn-form .logIn-btn, html body#light-theme.register-page #register .register-form .register-btn {
  box-shadow: 0 25px 25px -15px rgba(238, 55, 132, 0.6); }

#light-theme.logIn-page, #light-theme.register-page {
  background-color: #e8f0f6; }

#light-theme .logIn-wrapper, #light-theme .register-wrapper {
  background-color: #FFFFFF; }

@media only screen and (max-width: 479px) {
  #light-theme.logIn-page, #light-theme.register-page {
    background-color: #FFFFFF; } }

@media only screen and (max-width: 767px) {
  #light-theme .ham-nav .menu {
    background: #FFFFFF;
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.25); }
  #light-theme .logIn-page, #light-theme .register-page {
    background-color: #FFFFFF; }
  #light-theme .ham-nav li a {
    border-bottom: 1px solid #f1f1f1;
    color: #000666; }
  #light-theme .ham-nav li:not(.logIn-nav):not(.register-nav) a {
    color: #000666; } }

/* END OF LIGHT THEME -------------------------------------------------------------------------------------------------------- */
/* CUSTOMER ADMINISTRATION --------------------------------------------------------------------------------------------------- */
#customer-admin aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: 300px;
  background-color: #131417; }

#customer-admin h2 {
  color: #000666; }

#customer-admin .incenterpage-admin {
  padding: 20px 20px 20px 320px;
  background-color: #ccc;
  min-height: 100vh; }

#customer-admin aside ul {
  padding: 10px 0; }

#customer-admin aside ul li a {
  padding: 10px 20px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #1E1F26;
  color: #9b9dad; }
  #customer-admin aside ul li a:hover {
    background-color: #1E1F26;
    text-decoration: none; }

.introduction-admin, .preview-admin-edit, .detail-admin-edit {
  background-color: white;
  border-radius: 4px;
  padding: 10px; }
