<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="../src/styles/style.sass" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {{ include('footer.html.twig') }}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
