<footer>
  <div class="footerWrapper">
    <div class="row">
      <div class="col-4 footerBox">
        <h4>Užitečné informace</h4>
        <ul>
          <li><a href="#">Obchodní podmínky</a></li>
          <li><a href="#">Chci propagovat</a></li>
				</ul>
      </div>
      <div class="col-4 footerBox">
				<h4>Sociální sítě</h4>
				<ul>
					<li><a href="https://www.facebook.com" target="_blank"><img src="#" alt="Facebook"> / baryzive.cz</a></li>
					<li><a href="https://www.instagram.com" target="_blank"><img src="#" alt="Instagram"> / baryzive.cz</a></li>
				</ul>
			</div>
      <div class="col-4 footerBox">
				<h4>Kontakt</h4>
				<ul>
					<li><strong>Provozovatel: </strong>Baryzive s.r.o</li>
					<li><strong>Adresa: </strong>Mánesova 72, České Budějovice 37001</li>
					<li><strong>Telefon: </strong><a href="tel:+420777666555">+420 777 666 555</a></li>
					<li><strong>Email: </strong><a href="mailto:info@baryzive.cz">info@baryzive.cz</a></li>
				</ul>
			</div>
    </div>

    <div class="row footerBottomContent">
      <div class="col-6">
        <p>Máte nápad, který by jste uvítali na našem webu? Budeme rádi pokud se s námi o svůj nápad podělíte na info@baryzive.cz</p>
			</div>
			<div class="col-6 copyright">
				<p>© www.baryzive.cz</p>
			</div>
		</div>
  </div>
</footer>
