@import "partials/reset.scss";
@import "partials/variables.scss";

body{
  font-family: $primary-font;
  line-height: 1.5;
}

h2{
  font-size: 22px;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 18px;
}

p {
  color: $blue;
}
