@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=latin-ext');
@import "partials/variables.scss";
@import "partials/reset.scss";

body{
  font-family: $primary-font;
  line-height: 1.5;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 1.8rem;
}

h3{
  font-size: 18px;
}

h1, h2, h3{
  color: $primary-color;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  color: $secondary-color;
  font-weight: 500;
}

a{
  font-weight: 500;
}

input{
  border: 1px solid #ebeff2;
  padding: 15px;
  font-weight: 500;
  border-radius: 4px;
  color: $secondary-color;
}

.fastInfoWrapper, .footerWrapper, .navWrapper, .headerWrapper, .aboutUsWrapper{
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

/* --- Navigation --- */
nav .navWrapper ul{
  text-align: right;
}

nav ul li{
  display: inline-block;
  margin: 0 10px;
}

/* --- Header --- */
.headerWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
}

.search input {
    width: 100%;
    max-width: 20rem;
}

.headerWrapper button{
  border: none;
  border-bottom: $primaryBorder-underBtn;
  border-radius: 4px;
  padding: 15px;
  font-weight: 500;
  color: white;
  background-color: $primary-btn;
  margin-left: 10px;
  &:hover{
    background-color: #32E99E;
  }
}

.headerContent, .headerImg {
    flex-grow: 1;
}

.headerContent{
  position: relative;
  z-index: 2;
}

.headerImg {
    position: absolute;
    top: 0;
    margin-left: calc(50% - 200px);
    z-index: 1;
}

/* --- About Us --- */
.aboutUsWrapper{
  text-align: center;
}

/* --- Fast Info --- */
#fastInfo{
  background-color: #f2f6f9;
}

#fastInfo .col-md-4{
  text-align: center;
}

.fastInfoIcon svg {
  max-width: 55px;
  height: auto;
  margin-bottom: 10px;
}

#fastInfo .fastInfoWrapper h3{
  margin: 0;
}

// Newsletter preview
form.newsletter{
    margin-top: 10px;
}

form.newsletter button {
  border: none;
  border-bottom: $primaryBorder-underBtn;
  border-radius: 4px;
  padding: 15px;
  font-weight: 500;
  color: white;
  background-color: $primary-btn;
  margin-left: 10px;
  &:hover{
    background-color: #32E99E;
  }
}

/* --- Footer --- */
footer h4{
  margin-bottom: 10px;
}

footer .footerBox ul li a, footer .footerBox ul li{
  font-weight: 300;
  color: $secondary-color;
}

footer .footerBox ul li strong{
  font-weight: bold;
}

footer svg {
    max-width: 20px;
    height: auto;
    margin-right: 5px;
}

.row.footerBottomContent p {
    font-size: smaller;
    font-weight: 300;
}

.row.footerBottomContent a{
  font-weight: 300;
  color: $link-color;
}

footer .footerBox ul li a.email, footer .footerBox ul li a.phone-number{
  font-weight: bold;
  color: #37EEA3;
}

@media only screen and (min-width: 768px){
  footer, section{
    padding: 4rem 20px;
  }

  header{
    padding: 2rem 20px 4rem 20px;
  }

  nav{
    padding: 0 0 2rem 0;
  }

  .headerWrapper{
    padding-top: 2rem;
    min-height: 480px;
  }

  .row.footerBottomContent {
    padding-top: 4rem;
  }

  .col-md-6.copyright {
    text-align: right;
  }
}

/* --- Responsive --- */
@media only screen and (max-width: 767px){
  .headerImg{
    display: none;
  }
}
