@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=latin-ext');
@import "partials/variables.scss";
@import "partials/reset.scss";

body{
  font-family: $primary-font;
  line-height: 1.5;
}

h2{
  font-size: 22px;
}

h3{
  font-size: 18px;
  font-weight: bold;
  color: $primary-color;
  margin-bottom: 10px;
}

p {
  color: $secondary-color;
  font-weight: 500;
}

a{
  font-weight: 500;
}

.fastInfoWrapper, .footerWrapper, .navWrapper, .headerContent{
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

/* --- Navigation --- */
nav .navWrapper ul{
  text-align: right;
}

nav ul li{
  display: inline-block;
  margin: 0 10px;
}

/* --- Fast Info --- */
#fastInfo{
  background-color: #f2f6f9;
}

#fastInfo .col-4{
  text-align: center;
}

.fastInfoIcon svg {
    max-width: 55px;
    height: auto;
    margin-bottom: 10px;
}

// Newsletter preview
form.newsletter{
    margin-top: 10px;
}

form.newsletter button {
  border: none;
  border-bottom: $primaryBorder-underBtn;
  border-radius: 4px;
  padding: 15px;
  font-weight: 500;
  color: white;
  background-color: $primary-btn;
  margin-left: 10px;
  &:hover{
    background-color: #32E99E;
  }
}

form.newsletter input {
    border: none;
    padding: 15px;
    font-weight: 500;
    border-radius: 4px;
    color: $secondary-color;
}

/* --- Footer --- */
footer h4{
  margin-bottom: 10px;
}

footer .footerBox ul li a, footer .footerBox ul li{
  font-weight: 300;
  color: $secondary-color;
}

footer .footerBox ul li strong{
  font-weight: bold;
}

footer svg {
    max-width: 20px;
    height: auto;
    margin-right: 5px;
}

.row.footerBottomContent p {
    font-size: smaller;
    font-weight: 300;
}

.row.footerBottomContent a{
  font-weight: 300;
  color: $link-color;
}

footer .footerBox ul li a.email, footer .footerBox ul li a.phone-number{
  font-weight: bold;
  color: #37EEA3;
}

@media only screen and (min-width: 768px){
  footer, section{
    padding: 4rem 20px;
  }

  header{
    padding: 2rem 20px 4rem 20px;
  }

  nav{
    padding: 0 20px 2rem 20px;
  }

  .row.footerBottomContent {
    padding-top: 4rem;
  }

  .col-6.copyright {
    text-align: right;
  }
}

/* --- Responsive --- */
