<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="500004357895-e8pjfbmghees1dfgf43gfvmm4o35tqph.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block fonts %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
        {% endblock %}

        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="assets/styles/css/style.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <!--
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
           <script>
             function onSignIn(googleUser) {
               // Useful data for your client-side scripts:
               var profile = googleUser.getBasicProfile();
               console.log("ID: " + profile.getId()); // Don't send this directly to your server!
               console.log('Full Name: ' + profile.getName());
               console.log('Given Name: ' + profile.getGivenName());
               console.log('Family Name: ' + profile.getFamilyName());
               console.log("Image URL: " + profile.getImageUrl());
               console.log("Email: " + profile.getEmail());

               // The ID token you need to pass to your backend:
               var id_token = googleUser.getAuthResponse().id_token;
               console.log("ID Token: " + id_token);
             }
           </script>
         -->
        <header>
          {{ include('navigation.html.twig') }}
          <div class="headerWrapper">
            <div class="headerContent">
              <div class="headerContentWrapper">
                <h1>Podívejte se živě, kde to nejvíc žije!</h1>
                <h2>{{ search }}</h2>
                <p>Text</p>
                <form class="search" method="post" action="/finder">
                  <input class="add-city-bar" required type="text" name="search" placeholder="Zadejte město nebo oblíbený bar">
                  <input class="search-btn" type="submit" value="Vyhledat" name="search-button">
                </form>
              </div>
            </div>
            <div class="headerImg">
              <img src="assets/imgs/header-bg.png" alt="Obrázek v hlavičce">
            </div>
          </div>
        </header>

        <section id="aboutUs">
          <div class="aboutUsWrapper">
            <h2>Lorem ipsum</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </section>

        <section id="fastInfo">
            <div class="fastInfoWrapper">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Newsletter</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <form class="newsletter" action="index.html" method="post">
                          <input type="text" name="test" placeholder="Zadejte Váš e-mail" /><button type="button" name="button">Přihlásit odběr</button>
                        </form>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="fastInfoIcon">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                      <g>
                                        <g>
                                           <g>
                                             <path d="M504.5,451.964H290.355c-3.446-15.8-17.537-27.668-34.354-27.668c-10.905,0-20.667,4.989-27.123,12.806H22.362     C10.032,437.102,0,447.133,0,459.464c0,12.331,10.032,22.362,22.362,22.362h206.515c18.693,22.632,55.246,13.702,61.478-14.862     H504.5c4.143,0,7.5-3.358,7.5-7.5C512,455.322,508.642,451.964,504.5,451.964z M221.608,466.827H22.362     c-4.059,0-7.361-3.302-7.361-7.361c0-4.059,3.302-7.361,7.361-7.361h199.246C220.612,456.819,220.533,461.736,221.608,466.827z      M236.199,463.236c-0.637-3.355-0.39-6.659,0.502-9.609c0.354-1.16,0.943-2.615,1.568-3.767     c3.888-6.943,10.722-10.564,17.73-10.564c11.12,0,20.167,9.047,20.167,20.167C276.167,483.491,240.826,487.393,236.199,463.236z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/>
                                             <!--<path d="M232.746,234.458l37.414-22.613c2.247-1.358,3.62-3.792,3.62-6.418c0.001-2.627-1.372-5.062-3.619-6.42l-37.414-22.614     c-4.981-3.01-11.381,0.576-11.381,6.419v45.228C221.366,233.92,227.799,237.449,232.746,234.458z M236.367,196.108l15.414,9.317     l-15.414,9.317V196.108z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/>-->
                                             <path d="M226.713,267.319l74.081-44.778c5.954-3.6,9.654-10.159,9.654-17.116c0-6.958-3.7-13.518-9.655-17.118     c-81.134-49.04-76.993-47.662-84.428-47.662c-11.087,0-20,9.019-20,20.002v89.554     C196.365,265.76,213.416,275.357,226.713,267.319z M211.366,160.648c0-3.879,4.253-6.294,7.586-4.28l74.08,44.777     c3.213,1.944,3.207,6.621,0.001,8.561l-74.081,44.777c-3.279,1.982-7.586-0.35-7.586-4.279V160.648z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/>
                                             <path d="M42.575,391.464h426.849c23.476,0,42.576-19.1,42.576-42.577V224.43c0.001-4.142-3.357-7.5-7.499-7.5     c-4.143,0-7.5,3.358-7.5,7.5v124.458c0,15.206-12.37,27.576-27.575,27.576H42.575c-15.204,0-27.574-12.37-27.574-27.576V59.962     c0-15.204,12.37-27.574,27.574-27.574h195.924c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5H42.575     C19.099,17.387,0,36.486,0,59.962v288.926C0,372.365,19.099,391.464,42.575,391.464z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/>
                                             <path d="M462.884,59.001H49.114c-4.142,0-7.5,3.358-7.5,7.5v275.847c0,4.142,3.358,7.5,7.5,7.5h413.77c4.143,0,7.5-3.358,7.5-7.5     V66.501C470.384,62.359,467.027,59.001,462.884,59.001z M455.384,334.848H56.614V74.002h398.769V334.848z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/>
                                             <path d="M273.501,32.388h195.923c15.205,0,27.575,12.37,27.575,27.574v129.466c0,4.142,3.357,7.5,7.5,7.5     c4.143,0,7.5-3.358,7.5-7.5V59.962C512,36.486,492.9,17.387,469.423,17.387H273.501c-4.143,0-7.5,3.358-7.5,7.5     S269.357,32.388,273.501,32.388z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/>
                                           </g>
                                         </g>
                                       </g>
                                     </g>
                                   </svg>
                                </div>
                                <div class="fastInfoText">
                                    <p>Živé přenosy</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="fastInfoIcon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96">
                                        <g>
                                          <path d="m40 26a1.9988 1.9988 0 0 0 -2-2h-4a2 2 0 0 0 0 4h4a1.9989 1.9989 0 0 0 2-2z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/>
                                          <path d="m46 28h4a2 2 0 0 0 0-4h-4a2 2 0 0 0 0 4z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/>
                                          <path d="m56.5859 42.5863-20 20a2 2 0 1 0 2.8282 2.8281l20-20a2 2 0 1 0 -2.8282-2.8281z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/><circle cx="40" cy="46" r="4" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/><circle cx="56" cy="62" r="4" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/>
                                          <path d="m74.9863 8.26a1.9959 1.9959 0 0 0 -2.0156.0254l-8.8457 5.3087-6.9258-5.1933a1.992 1.992 0 0 0 -2.3984 0l-6.8008 5.0992-6.8008-5.1a1.992 1.992 0 0 0 -2.3984 0l-6.9258 5.1941-8.8457-5.3086a2 2 0 0 0 -3.0293 1.7145v76a1.9981 1.9981 0 0 0 3.0293 1.7148l8.8457-5.3086 6.9258 5.1953a2.0037 2.0037 0 0 0 2.3984 0l6.8008-5.1015 6.8008 5.1015a2.0037 2.0037 0 0 0 2.3984 0l6.9258-5.1953 8.8457 5.3086a1.9875 1.9875 0 0 0 1.0293.2852 1.9945 1.9945 0 0 0 2-2v-76a1.9994 1.9994 0 0 0 -1.0137-1.74zm-9.957 70.0254a1.9915 1.9915 0 0 0 -2.2285.1133l-6.8008 5.1013-6.8008-5.1016a2.004 2.004 0 0 0 -2.3984 0l-6.8008 5.1016-6.8008-5.1016a1.999 1.999 0 0 0 -2.2285-.1133l-6.9707 4.184v-54.4691h2a2 2 0 0 0 0-4h-2v-10.4664l6.9707 4.1816a1.9993 1.9993 0 0 0 2.2285-.1152l6.8008-5.1 6.8008 5.1a1.9923 1.9923 0 0 0 2.3984 0l6.8008-5.1 6.8008 5.1a1.9955 1.9955 0 0 0 2.2285.1152l6.9707-4.1816v10.4664h-2a2 2 0 0 0 0 4h2v54.4691z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/>
                                          <path d="m62 24h-4a2 2 0 0 0 0 4h4a2 2 0 0 0 0-4z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="fastInfoText">
                                    <p>Generování slev<br />každý den</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="fastInfoIcon">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                      <g>
                                        <g>
                                          <path d="M256,0C161.896,0,85.333,76.563,85.333,170.667c0,28.25,7.063,56.26,20.49,81.104L246.667,506.5    c1.875,3.396,5.448,5.5,9.333,5.5s7.458-2.104,9.333-5.5l140.896-254.813c13.375-24.76,20.438-52.771,20.438-81.021    C426.667,76.563,350.104,0,256,0z M256,256c-47.052,0-85.333-38.281-85.333-85.333c0-47.052,38.281-85.333,85.333-85.333    s85.333,38.281,85.333,85.333C341.333,217.719,303.052,256,256,256z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#000666"/>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>
                                </div>
                                <div class="fastInfoText">
                                    <p>Noční život na<br />jednom místě</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{ include('footer.html.twig') }}

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
        {% endblock %}
        {% endblock %}
    </body>
</html>
