<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ### Video.js ###-->
    <link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/styles/css/videojs.ads.css">

<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

    <!-- ### -->

        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="500004357895-e8pjfbmghees1dfgf43gfvmm4o35tqph.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="assets/styles/css/style.css">
        {% endblock %}

        <!-- Hotjar Tracking Code for http://dom.baryzive.cz/ -->
        <script>
          (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1701416,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
          })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>


        <script src="http://maps.google.com/maps/api/js"></script>
        <script src="assets/scripts/gmaps.js"></script>

    </head>

    <style type="text/css">
      #map {
        width: 400px;
        height: 400px;
      }
    </style>


    <body class="home">
        {% block body %}
        <header>
          {{ include('navigation.html.twig') }}
          <div class="headerWrapper">
            <div class="headerContent">
              <div class="headerContentWrapper">
                <!--<p>Noční život na jednom místě.</p>-->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4112.17 730.5"><defs><style>.cls-1{fill:#fff;}</style></defs><g id="Vrstva_2" data-name="Vrstva 2"><g id="Vrstva_1-2" data-name="Vrstva 1"><g id="Vrstva_4" data-name="Vrstva 4"><path class="cls-1" d="M1723.83,482,1960,123.82h-38.47l-50.27,76.47H1609.54L1572.69,0,1558.3,2.42l36.53,197.87h-50.92L1493,123.66h-38.63l237.3,358.54V697.85h-57.22V730.5h145.48V697.85h-56.09Zm-56.27-110.51v-126l111.85,63Z"/></g></g><g id="Vrstva_3" data-name="Vrstva 3"><path class="cls-1" d="M314.29,309.6q17.59,29,17.6,64.86a117.07,117.07,0,0,1-17.6,62.45q-17.6,28.63-48.64,45.19,36.57,12.42,60.72,45.54t24.15,73.14A127.87,127.87,0,0,1,332.58,667q-18,30.38-47.61,46.92a128.36,128.36,0,0,1-33.81,12.42q-18.63,4.14-49.68,4.14H0V250.26H191.82q45.54,0,72.45,13.8Q296.7,280.62,314.29,309.6ZM292.56,426.21a96.51,96.51,0,0,0,14.49-51.75q0-31.72-16.56-55.54a97.92,97.92,0,0,0-42.09-34.85q-19.32-8.28-64.86-8.28H24.84V473.13H196q35.86,0,57.27-11A95.54,95.54,0,0,0,292.56,426.21ZM310.5,656.33a104.43,104.43,0,0,0,15.18-54.86q0-31.05-15.87-56.23A98.29,98.29,0,0,0,267,507.63Q246.33,498,211.14,498H24.84V705.66H202.17q26.22,0,41.4-2.76a97,97,0,0,0,26.22-8.28A100.28,100.28,0,0,0,310.5,656.33Z"/><path class="cls-1" d="M665.15,250.26h26.91L889.4,730.5H861.8L796.94,571.8H560.27L494.72,730.5H467.81ZM570.62,547h216L678.26,283.38Z"/><path class="cls-1" d="M1358.25,323.4q23.8,38,23.81,84.18,0,53.82-32.78,96.25t-83.83,56.24L1387.58,730.5h-30.36l-118-165.6-22.08.69H1044V730.5h-25.53V250.26h182.85q30.35,0,52.09,3.79a160.53,160.53,0,0,1,39.68,12.08Q1334.45,285.45,1358.25,323.4Zm-134.2,216.66a127.83,127.83,0,0,0,66.24-17.94,135.09,135.09,0,0,0,48.3-48.3,128,128,0,0,0,17.94-66.24q0-40-21-72.45t-58.3-48.3q-26.91-11-75.9-11H1044V540.06Z"/><path class="cls-1" d="M2586.6,250.26l-.69,25.53L2261.61,705h325V730.5H2229.87V705l323.61-429.18h-316V250.26Zm-280.83-138,102.12,102.12L2510,112.26l-17.94-17.94-84.18,84.18-84.18-84.18Z"/><path class="cls-1" d="M3074.43,250.26v25.53H2930.91V705h143.52V730.5H2763.24V705h142.83V275.79H2763.24V250.26Z"/><path class="cls-1" d="M3244.85,250.26l183.54,446.43,183.54-446.43h26.91L3441.5,730.5h-26.91L3217.25,250.26Z"/><path class="cls-1" d="M3799.6,275.79V470.37h271.86V495.9H3799.6V705h312.57V730.5h-338.1V250.26h338.1v25.53Zm40.71-163.53,102.12,102.12,102.12-102.12-17.94-17.94-84.18,84.18-84.18-84.18Z"/></g></g></svg>
                <h1>...podívejte se, kde to nejvíc žije!</h1>
                <h2>{{ search }}</h2>
                <form class="search" method="post" action="/finder">
                  <input class="add-city-bar dark-input" required type="text" name="search" placeholder="Zadejte město nebo oblíbený bar">
                  <input class="search-btn" type="submit" value="Vyhledat" name="search-button">
                </form>
              </div>
            </div>
            <!--<div class="headerImg">
              <img src="assets/imgs/header-bg.png" alt="Obrázek v hlavičce">
            </div>-->
          </div>
        </header>

        <section id="aboutUs">
          <div class="aboutUsWrapper">
            <h2>Vyberte si <strong>slevový voucher</strong> každý den!</h2>
            <p>Získejte každý den slevový voucher na taxi, jídlo či pití! Nezapomeňte být <a href="#">přihlášeni</a>.</p>
            <div class="phone-voucher">
              <img src="assets/imgs/voucher-phone.png" alt="Náhled voucherů" />
              <div class="phone-voucher-content">
                <div class="phone-voucher-icons">
                  <div class="phone-voucher-icon-box">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g>
	<g>
		<path d="M286,451.29c-5.52,0-10,4.48-10,10c0,5.52,4.48,10,10,10c5.52,0,10-4.48,10-10S291.52,451.29,286,451.29z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
	</g>
</g><g>
	<g>
		<path d="M145.5,200.29c-5.523,0-10,4.477-10,10v191c0,5.523,4.477,10,10,10s10-4.477,10-10v-191    C155.5,204.767,151.023,200.29,145.5,200.29z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
	</g>
</g><g>
	<g>
		<path d="M225.5,200.29c-5.523,0-10,4.477-10,10v191c0,5.523,4.477,10,10,10s10-4.477,10-10v-191    C235.5,204.767,231.023,200.29,225.5,200.29z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
	</g>
</g><g>
	<g>
		<path d="M426.5,161h-50v-30.259c15.675-11.751,23.125-31.613,18.707-51.224c-4.133-18.39-19.313-33.398-37.768-37.345    c-9.811-2.105-19.692-1.36-28.695,2.063C319.716,30.002,303.862,21,286.5,21c-6.544,0-12.939,1.269-18.852,3.711    C250.91,8.922,228.843,0,206,0c-30.216,0-58.396,15.393-75.03,40.579C78.7,37.687,35.5,79.156,35.5,130.29v120    c0,16.542,13.682,30,30.5,30c3.689,0,7.224-0.671,10.5-1.893V462c0,27.57,22.43,50,50,50h200c27.57,0,50-22.43,50-50v-30h50    c27.57,0,50-22.43,50-50V211C476.5,183.43,454.07,161,426.5,161z M356.5,452h-30.51c-5.523,0-10,4.477-10,10s4.477,9.9,10,9.9    h28.79c-4.128,11.639-15.244,20.1-28.28,20.1h-200c-13.036,0-24.152-8.361-28.28-20h147.79c5.523,0,10-4.477,10-10    s-4.477-10-10-10H96.5V250.07v-70.564c22.463-3.391,41.914-17.538,52.14-38.505c2.086,0,3.924,0.722,5.309,2.081    c11.286,11.098,26.22,17.209,42.051,17.209c16.408,0,31.725-6.495,43.135-18.295c0.61-0.632,1.473-0.995,2.365-0.995    c15.567,0,25.753,3.325,30.277,9.881c3.729,5.405,3.726,12.915,3.723,18.95v40.459c0,13.036,8.361,24.152,20,28.28v162.72    c0,5.523,4.477,10,10,10s10-4.477,10-10V238.57c11.639-4.128,20-15.243,20-28.28v-70.464c7.005,1.398,14.154,1.407,21,0.007V452z     M330.033,116.947c-3.1-1.577-6.796-1.43-9.762,0.389c-2.965,1.818-4.772,5.046-4.772,8.524v84.43c0,5.514-4.486,10-10,10    c-5.514,0-10-4.486-10-10v-40.452c0.003-7.876,0.008-19.779-7.261-30.315C279.759,127.232,264.034,121,241.5,121    c-6.29,0-12.396,2.589-16.749,7.099c-7.602,7.862-17.813,12.191-28.751,12.191c-10.553,0-20.507-4.073-28.035-11.477    c-5.133-5.039-11.996-7.813-19.325-7.813c-7.579,0-14.623,4.397-17.946,11.202c-8.382,17.164-25.35,27.927-44.28,28.089    c-5.489,0.047-9.915,4.51-9.915,10v79.525C76.147,255.705,71.568,260.29,66,260.29c-5.691,0-10.5-4.58-10.5-10v-120    c0-38.596,31.582-69.852,70.407-69.852c3.017,0,6.05,0.192,9.081,0.581c4.045,0.519,7.998-1.471,9.993-5.026    C157.437,33.792,180.818,20,206,20c19.73,0,38.752,8.615,52.187,23.637c3.256,3.642,8.668,4.398,12.799,1.785    C275.559,42.529,280.924,41,286.5,41c12.73,0,24.108,8.061,28.313,20.057c1.023,2.92,3.341,5.203,6.277,6.181    c2.935,0.978,6.159,0.542,8.729-1.182c6.816-4.57,15.134-6.107,23.429-4.327c10.8,2.31,20.03,11.428,22.446,22.179    C381.386,109.172,355.489,129.896,330.033,116.947z M376.5,221h40v151h-40V221z M456.5,382c0,16.542-13.458,30-30,30h-50v-20h50    c5.523,0,10-4.477,10-10V211c0-5.523-4.477-10-10-10h-50v-20h50c16.542,0,30,13.458,30,30V382z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
	</g>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <div class="phone-voucher-icon-box">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g>
	<g>
		<path d="M286,451.29c-5.52,0-10,4.48-10,10c0,5.52,4.48,10,10,10c5.52,0,10-4.48,10-10S291.52,451.29,286,451.29z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
	</g>
</g><g>
	<g>
		<path d="M145.5,200.29c-5.523,0-10,4.477-10,10v191c0,5.523,4.477,10,10,10s10-4.477,10-10v-191    C155.5,204.767,151.023,200.29,145.5,200.29z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
	</g>
</g><g>
	<g>
		<path d="M225.5,200.29c-5.523,0-10,4.477-10,10v191c0,5.523,4.477,10,10,10s10-4.477,10-10v-191    C235.5,204.767,231.023,200.29,225.5,200.29z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
	</g>
</g><g>
	<g>
		<path d="M426.5,161h-50v-30.259c15.675-11.751,23.125-31.613,18.707-51.224c-4.133-18.39-19.313-33.398-37.768-37.345    c-9.811-2.105-19.692-1.36-28.695,2.063C319.716,30.002,303.862,21,286.5,21c-6.544,0-12.939,1.269-18.852,3.711    C250.91,8.922,228.843,0,206,0c-30.216,0-58.396,15.393-75.03,40.579C78.7,37.687,35.5,79.156,35.5,130.29v120    c0,16.542,13.682,30,30.5,30c3.689,0,7.224-0.671,10.5-1.893V462c0,27.57,22.43,50,50,50h200c27.57,0,50-22.43,50-50v-30h50    c27.57,0,50-22.43,50-50V211C476.5,183.43,454.07,161,426.5,161z M356.5,452h-30.51c-5.523,0-10,4.477-10,10s4.477,9.9,10,9.9    h28.79c-4.128,11.639-15.244,20.1-28.28,20.1h-200c-13.036,0-24.152-8.361-28.28-20h147.79c5.523,0,10-4.477,10-10    s-4.477-10-10-10H96.5V250.07v-70.564c22.463-3.391,41.914-17.538,52.14-38.505c2.086,0,3.924,0.722,5.309,2.081    c11.286,11.098,26.22,17.209,42.051,17.209c16.408,0,31.725-6.495,43.135-18.295c0.61-0.632,1.473-0.995,2.365-0.995    c15.567,0,25.753,3.325,30.277,9.881c3.729,5.405,3.726,12.915,3.723,18.95v40.459c0,13.036,8.361,24.152,20,28.28v162.72    c0,5.523,4.477,10,10,10s10-4.477,10-10V238.57c11.639-4.128,20-15.243,20-28.28v-70.464c7.005,1.398,14.154,1.407,21,0.007V452z     M330.033,116.947c-3.1-1.577-6.796-1.43-9.762,0.389c-2.965,1.818-4.772,5.046-4.772,8.524v84.43c0,5.514-4.486,10-10,10    c-5.514,0-10-4.486-10-10v-40.452c0.003-7.876,0.008-19.779-7.261-30.315C279.759,127.232,264.034,121,241.5,121    c-6.29,0-12.396,2.589-16.749,7.099c-7.602,7.862-17.813,12.191-28.751,12.191c-10.553,0-20.507-4.073-28.035-11.477    c-5.133-5.039-11.996-7.813-19.325-7.813c-7.579,0-14.623,4.397-17.946,11.202c-8.382,17.164-25.35,27.927-44.28,28.089    c-5.489,0.047-9.915,4.51-9.915,10v79.525C76.147,255.705,71.568,260.29,66,260.29c-5.691,0-10.5-4.58-10.5-10v-120    c0-38.596,31.582-69.852,70.407-69.852c3.017,0,6.05,0.192,9.081,0.581c4.045,0.519,7.998-1.471,9.993-5.026    C157.437,33.792,180.818,20,206,20c19.73,0,38.752,8.615,52.187,23.637c3.256,3.642,8.668,4.398,12.799,1.785    C275.559,42.529,280.924,41,286.5,41c12.73,0,24.108,8.061,28.313,20.057c1.023,2.92,3.341,5.203,6.277,6.181    c2.935,0.978,6.159,0.542,8.729-1.182c6.816-4.57,15.134-6.107,23.429-4.327c10.8,2.31,20.03,11.428,22.446,22.179    C381.386,109.172,355.489,129.896,330.033,116.947z M376.5,221h40v151h-40V221z M456.5,382c0,16.542-13.458,30-30,30h-50v-20h50    c5.523,0,10-4.477,10-10V211c0-5.523-4.477-10-10-10h-50v-20h50c16.542,0,30,13.458,30,30V382z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
	</g>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <div class="phone-voucher-icon-box">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g>
	<g>
		<path d="M286,451.29c-5.52,0-10,4.48-10,10c0,5.52,4.48,10,10,10c5.52,0,10-4.48,10-10S291.52,451.29,286,451.29z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
	</g>
</g><g>
	<g>
		<path d="M145.5,200.29c-5.523,0-10,4.477-10,10v191c0,5.523,4.477,10,10,10s10-4.477,10-10v-191    C155.5,204.767,151.023,200.29,145.5,200.29z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
	</g>
</g><g>
	<g>
		<path d="M225.5,200.29c-5.523,0-10,4.477-10,10v191c0,5.523,4.477,10,10,10s10-4.477,10-10v-191    C235.5,204.767,231.023,200.29,225.5,200.29z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
	</g>
</g><g>
	<g>
		<path d="M426.5,161h-50v-30.259c15.675-11.751,23.125-31.613,18.707-51.224c-4.133-18.39-19.313-33.398-37.768-37.345    c-9.811-2.105-19.692-1.36-28.695,2.063C319.716,30.002,303.862,21,286.5,21c-6.544,0-12.939,1.269-18.852,3.711    C250.91,8.922,228.843,0,206,0c-30.216,0-58.396,15.393-75.03,40.579C78.7,37.687,35.5,79.156,35.5,130.29v120    c0,16.542,13.682,30,30.5,30c3.689,0,7.224-0.671,10.5-1.893V462c0,27.57,22.43,50,50,50h200c27.57,0,50-22.43,50-50v-30h50    c27.57,0,50-22.43,50-50V211C476.5,183.43,454.07,161,426.5,161z M356.5,452h-30.51c-5.523,0-10,4.477-10,10s4.477,9.9,10,9.9    h28.79c-4.128,11.639-15.244,20.1-28.28,20.1h-200c-13.036,0-24.152-8.361-28.28-20h147.79c5.523,0,10-4.477,10-10    s-4.477-10-10-10H96.5V250.07v-70.564c22.463-3.391,41.914-17.538,52.14-38.505c2.086,0,3.924,0.722,5.309,2.081    c11.286,11.098,26.22,17.209,42.051,17.209c16.408,0,31.725-6.495,43.135-18.295c0.61-0.632,1.473-0.995,2.365-0.995    c15.567,0,25.753,3.325,30.277,9.881c3.729,5.405,3.726,12.915,3.723,18.95v40.459c0,13.036,8.361,24.152,20,28.28v162.72    c0,5.523,4.477,10,10,10s10-4.477,10-10V238.57c11.639-4.128,20-15.243,20-28.28v-70.464c7.005,1.398,14.154,1.407,21,0.007V452z     M330.033,116.947c-3.1-1.577-6.796-1.43-9.762,0.389c-2.965,1.818-4.772,5.046-4.772,8.524v84.43c0,5.514-4.486,10-10,10    c-5.514,0-10-4.486-10-10v-40.452c0.003-7.876,0.008-19.779-7.261-30.315C279.759,127.232,264.034,121,241.5,121    c-6.29,0-12.396,2.589-16.749,7.099c-7.602,7.862-17.813,12.191-28.751,12.191c-10.553,0-20.507-4.073-28.035-11.477    c-5.133-5.039-11.996-7.813-19.325-7.813c-7.579,0-14.623,4.397-17.946,11.202c-8.382,17.164-25.35,27.927-44.28,28.089    c-5.489,0.047-9.915,4.51-9.915,10v79.525C76.147,255.705,71.568,260.29,66,260.29c-5.691,0-10.5-4.58-10.5-10v-120    c0-38.596,31.582-69.852,70.407-69.852c3.017,0,6.05,0.192,9.081,0.581c4.045,0.519,7.998-1.471,9.993-5.026    C157.437,33.792,180.818,20,206,20c19.73,0,38.752,8.615,52.187,23.637c3.256,3.642,8.668,4.398,12.799,1.785    C275.559,42.529,280.924,41,286.5,41c12.73,0,24.108,8.061,28.313,20.057c1.023,2.92,3.341,5.203,6.277,6.181    c2.935,0.978,6.159,0.542,8.729-1.182c6.816-4.57,15.134-6.107,23.429-4.327c10.8,2.31,20.03,11.428,22.446,22.179    C381.386,109.172,355.489,129.896,330.033,116.947z M376.5,221h40v151h-40V221z M456.5,382c0,16.542-13.458,30-30,30h-50v-20h50    c5.523,0,10-4.477,10-10V211c0-5.523-4.477-10-10-10h-50v-20h50c16.542,0,30,13.458,30,30V382z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
	</g>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="voucher-home-btn">
                  <a href="#">Vybrat voucher</a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="choose-taxi">
          <div class="choose-taxi-wrapper">
            <h2>Potřebujete <strong>odvoz?</strong></h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </section>

<!-- Až bude HTTPS, tohle začne fungovat
-->
        <!--<section>

          <p>Click the button to get your coordinates.</p>

          <button onclick="getLocation()">Try It</button>

          <p id="demo"></p>

          <script>
          var x = document.getElementById("demo");

          function getLocation() {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
            } else {
              x.innerHTML = "Geolocation is not supported by this browser.";
            }
          }

          function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
          }
          </script>

          <div id="map"></div>
          <script>
            var map = new GMaps({
              el: '#map',
              lat: -70,
              lng: 40
            });
          </script>
        </section>-->

        <!--
        <div id="googleMap" style="width:100%;height:400px;"></div>

        <script>
        function myMap() {
        var mapProp= {
          center:new google.maps.LatLng(51.508742,-0.120850),
          zoom:5,
        };
        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAa1R8jBvcZnwUc3KxBT1IZ8rHXRR4ulc&callback=myMap"></script>
        -->
<!--
        <video
  id="my-video"
  class="video-js"
  controls
  preload="auto"
  width="640"
  height="264"
  poster=""
  data-setup="{}"
>
  <source src="assets/imgs/mov_bbb.mp4" type="video/mp4" />
  <p class="vjs-no-js">
    Pro zobrazení přehrávače, povolte Javascript ve svém prohlížeči
        <a href="https://videojs.com/html5-video-support/" target="_blank"
      >supports HTML5 video</a
    >
  </p>
</video>


 <!-- https://github.com/videojs/http-streaming/blob/master/README.md -->

 <!--<h1>Video.js Example Embed</h1>
 <script src="assets/scripts/videojs.ads.js"></script>
 <script>
 videojs('video', {}, function() {
   var player = this;
   player.ads(); // initialize the ad framework
   // your custom ad integration code
 });
 </script>
  <video-js id="my_video_1" class="vjs-default-skin" controls preload="auto" width="640" height="268">
    <source src="http://stream.baryzive.cz/live/test.m3u8" type="application/x-mpegURL">-->


  <!--
  <source src="https://vjs.zencdn.net/v/oceans.mp4?sd" type='video/mp4' label='SD' res='480' />
  <source src="https://vjs.zencdn.net/v/oceans.mp4?hd" type='video/mp4' label='HD' res='1080'/>
  <source src="https://vjs.zencdn.net/v/oceans.mp4?phone" type='video/mp4' label='phone' res='144'/>
  <source src="https://vjs.zencdn.net/v/oceans.mp4?4k" type='video/mp4' label='4k' res='2160'/>
  <source src="https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8" type="application/x-mpegURL"> -->

  <!--</video-js>

  <script src="https://unpkg.com/video.js/dist/video.js"></script>
  <script src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js"></script>

  <script>
    var player = videojs('my_video_1');
  </script>


<script src="https://vjs.zencdn.net/7.6.6/video.js"></script>-->

        {{ include('newsletter.html.twig') }}

        {{ include('footer.html.twig') }}

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
        <script type="text/javascript" src="assets/scripts/swipe-btn.js"></script>
        {% endblock %}
        {% endblock %}
    </body>
</html>
