<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="500004357895-e8pjfbmghees1dfgf43gfvmm4o35tqph.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="assets/styles/css/style.css">
        {% endblock %}

        <script src="https://kit.fontawesome.com/b472121949.js" crossorigin="anonymous"></script>
    </head>
    <body class="city-layout">
        {% block body %}

        <header>
          {{ include('navigation.html.twig') }}
        </header>

        <section id="com-parts">
          <div class="com-parts-wrapper">
            <div class="com-part-box">
              ...
            </div>
            <div class="com-part-box">
              ...
            </div>
            <div class="com-part-box">
              <div class="part-icon-content">
                <i class="far fa-newspaper"></i>
              </div>
              <div class="part-text-content">
                <h3>Novinky</h3>
                <p>lorem, dolor, ipsum</p>
              </div>
            </div>
          </div>
        </section>

        <section id="com-collection">
          <div class="com-wrapper">
            <div class="row">
              <div class="com-box-wrapper">
                <div class="com-box">
                  <div class="com-header">
                    <img src="assets/imgs/bar_header.jpg" alt="Hlavička baru" />
                  </div>
                  <div class="com-content">
                    <div class="com-heading">
                      <div class="com-heading-title">
                        <h3>Flek bar</h3>
                      </div>
                      <div class="com-open-or-close">
                        <p><i class="fas fa-clock"></i> Otevřeno</p>
                      </div>
                    </div>
                    <div class="com-btns com-small-info">
                      <div class="com-preview-reservation">
                        <a href="#"><i class="fas fa-mobile-alt"></i> Rezervace</a>
                      </div>
                      <!--<div class="com-preview-direction">
                        <a href="#"><i class="fas fa-route"></i> Navigovat</a>
                      </div>-->
                      <a href="#" class="preview-com-like" role="button"><i class="far fa-thumbs-up"></i> 125x</a>
                      <a href="#" class="preview-com-heart" role="button"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="com-advantages">
                      <p><i class="fas fa-check"></i>Vodnice</p>
                      <p><i class="fas fa-check"></i>Parket</p>
                      <p><i class="fas fa-check"></i>HappyHour</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="com-box-wrapper">
                <div class="com-box">
                  <div class="com-header">
                    <img src="assets/imgs/bar02_header.jpg" alt="Hlavička baru" />
                  </div>
                  <div class="com-content">
                    <h3>Maxim music club</h3>
                    <div class="com-btns">
                      <p>text</p>
                    </div>
                    <div class="com-advantages">
                      <p><i class="fas fa-check"></i>Vodnice</p>
                      <p><i class="fas fa-check"></i>Parket</p>
                      <p><i class="fas fa-check"></i>HappyHour</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="com-box-wrapper">
                <div class="com-box">
                  <div class="com-header">
                    <img src="assets/imgs/bar03_header.jpg" alt="Hlavička baru" />
                  </div>
                  <div class="com-content">
                    <h3>Dark klub</h3>
                    <div class="com-btns">
                      <p>text</p>
                    </div>
                    <div class="com-advantages">
                      <p><i class="fas fa-check"></i>Vodnice</p>
                      <p><i class="fas fa-check"></i>Parket</p>
                      <p><i class="fas fa-check"></i>HappyHour</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        {{ include('newsletter.html.twig') }}

        {{ include('footer.html.twig') }}

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
        {% endblock %}
        {% endblock %}
    </body>
</html>
