<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="assets/styles/css/style.css">
    {% endblock %}

    <script src="https://kit.fontawesome.com/b472121949.js" crossorigin="anonymous"></script>
  </head>

  <body id="customer-admin">
    <aside class="side-bar-admin">
      <div class="side-bar-header">
        <div class="customer-name">
          <p><i class="fas fa-user"></i> Customer Name</p>
          <p><a href="#" target="_blank">baryzive.cz</a></p>
        </div>
      </div>
      <ul class="admin-side-menu">
        <li><a href="#"><i class="fas fa-door-open"></i> Úvod</a></li>
        <li><a href="#"><i class="fas fa-pen"></i> Informace o podniku</a></li>
      </ul>
      <div class="side-soc">
        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i> / baryzive</a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></i> / baryzive</a>
      </div>
    </aside>
    <div class="admin-content">
      <div class="admin-content-topBar">
        <div class="admin-support">
          <p>Máte dotaz? Napište nám <a href="#"><i class="far fa-envelope"></i> email@email.cz</a></p>
        </div>
        <div class="log-out">
          <p><i class="fas fa-power-off"></i> Odhlášení</p>
        </div>
      </div>
      <div class="admin-content-wrapper">
        <div class="introduction-admin">
          <h2>Vítejte ve Vaší administraci!</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer pellentesque quam vel velit. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis.</p>
        </div>
        <div class="preview-admin-edit">
          <h2>Náhled podniku</h2>
          <div class="admin-hint">
            <i class="far fa-question-circle"></i>
            <div class="admin-hint-tooltip">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla est. Aliquam id dolor. Proin mattis lacinia justo. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <form class="preview-form" action="#" method="#">
            <div class="field-box">
              <label>Název podniku</label>
              <input type="text" name="#" />
              <div class="admin-hint">
                <i class="far fa-question-circle"></i>
                <div class="admin-hint-tooltip">
                  <p>Název podniku bude zobrazen jak v náhledu, tak také v detailu produktu.</p>
                </div>
              </div>
            </div>
            <div class="field-box">
              <label>1. výhoda podniku</label>
              <input type="text" name="#" placeholder="Počet znaků maximálně 17" />
              <div class="admin-hint">
                <i class="far fa-question-circle"></i>
                <div class="admin-hint-tooltip">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla est. Aliquam id dolor. Proin mattis lacinia justo. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
            </div>
            <div class="field-box">
              <label>2. výhoda podniku</label>
              <input type="text" name="#" placeholder="Počet znaků maximálně 17" />
              <div class="admin-hint">
                <i class="far fa-question-circle"></i>
                <div class="admin-hint-tooltip">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla est. Aliquam id dolor. Proin mattis lacinia justo. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
            </div>
            <div class="field-box">
              <label>3. výhoda podniku</label>
              <input type="text" name="#" placeholder="Počet znaků maximálně 17" />
              <div class="admin-hint">
                <i class="far fa-question-circle"></i>
                <div class="admin-hint-tooltip">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla est. Aliquam id dolor. Proin mattis lacinia justo. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
            </div>
            <div class="field-box">
              <label>Telefon pro rezervace</label>
              <input type="tel" name="#" placeholder="Ve formátu +420XXXXXXXXX" />
              <div class="admin-hint">
                <i class="far fa-question-circle"></i>
                <div class="admin-hint-tooltip">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla est. Aliquam id dolor. Proin mattis lacinia justo. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="detail-admin-edit">
          <h2>Detail podniku</h2>
          <div class="admin-hint">
            <i class="far fa-question-circle"></i>
            <div class="admin-hint-tooltip">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla est. Aliquam id dolor. Proin mattis lacinia justo. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
