<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Administrace</title>
  </head>

  <body id="customer-admin">
    <div class="left-side-bar">
      <ul>
        <li><a href="#">Náhled podniku</a></li>
        <li><a href="#">Detail podniku</a></li>
      </ul>
    </div>
    <div class="incenterpage">
      <div class="preview-edit">
        <h2>Náhled podniku</h2>
      </div>
      <div class="detail-edit">
        <h2>Detail podniku</h2>
      </div>
    </div>
  </body>
</html>
