<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8 /">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block accountTitle %}Login{% endblock %}</title>


                <meta name="google-signin-scope" content="profile email">
                <meta name="google-signin-client_id" content="500004357895-e8pjfbmghees1dfgf43gfvmm4o35tqph.apps.googleusercontent.com">
                <script src="https://apis.google.com/js/platform.js" async defer></script>

        {% block fonts %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet" />
        {% endblock %}

        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous" />
        <link rel="stylesheet" href="assets/styles/css/style.css" type="text/css" />
        {% endblock %}
    </head>
    <body class="logIn-page">
        {% block body %}
        <header>
          {{ include('navigation.html.twig') }}
        </header>
        <section id="logIn">
          <div class="logIn-wrapper">
            <div class="logIn-text">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g>
	               <g>
		                 <path d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148    C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962    c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216    h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40    c59.551,0,108,48.448,108,108S315.551,256,256,256z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#6F83A8"/>
	               </g>
              </svg>
              <h2>Přihlášení</h2>
              <p>Nemáte účet? <a href="#">Zaregistrujte se</a>.</p>
              <p>Přihlašte se pomocí sociální sítě</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="fb-logIn">
                  <input type="submit" name="fb-logIn" value="Facebook">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
                    <g>
                      <g>
	                       <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803   c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654   c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246   c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="col-md-6">
                <div class="google-logIn">
                  <!--
                  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                     <script>
                       function onSignIn(googleUser) {
                         // Useful data for your client-side scripts:
                         var profile = googleUser.getBasicProfile();
                         console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                         console.log('Full Name: ' + profile.getName());
                         console.log('Given Name: ' + profile.getGivenName());
                         console.log('Family Name: ' + profile.getFamilyName());
                         console.log("Image URL: " + profile.getImageUrl());
                         console.log("Email: " + profile.getEmail());

                         // The ID token you need to pass to your backend:
                         var id_token = googleUser.getAuthResponse().id_token;
                         console.log("ID Token: " + id_token);
                       }
                     </script>
                   -->
                  <input type="submit" name="google-logIn" value="Google">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 210 210" style="enable-background:new 0 0 210 210;" xml:space="preserve">
                    <g>
                      <path d="M0,105C0,47.103,47.103,0,105,0c23.383,0,45.515,7.523,64.004,21.756l-24.4,31.696C133.172,44.652,119.477,40,105,40  c-35.841,0-65,29.159-65,65s29.159,65,65,65c28.867,0,53.398-18.913,61.852-45H105V85h105v20c0,57.897-47.103,105-105,105  S0,162.897,0,105z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            <p class="or-line"><span>nebo</span></p>
            <form class="logIn-form" method="post">
              <input type="text" name="user-mail" placeholder="Zadejte uživatelský email">
              <input type="password" name="user-pass" placeholder="Zadejte uživatelské heslo">
              <div class="remember-me">
                <input type="checkbox" name="remember-me" value="Pamatovat si mě"><span>Zapamatovat si mě</span>
              </div>
              <input type="submit" name="logIn-btn" value="Přihlásit se" class="logIn-btn">
            </form>
            <div class="forgotten-pass">
              <p>Zapomněli jste heslo? <a href="#">Obnovit heslo</a>.</p>
            </div>
          </div>
        </section>

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
        <script type="text/javascript" src="assets/scripts/swipe-btn.js"></script>
        {% endblock %}
        {% endblock %}
    </body>
</html>
