<nav>
  <div class="row">
    <div class="col-4">
      <div id="logo">
        <img src="#" alt="SVG logo">
      </div>
    </div>

    <div class="col-8">
      <ul>
        <li>Text</li>
        <li>Text</li>
        <li>Text</li>
      </ul>
    </div>
  </div>
</nav>
