<nav>
  <div class="ham-nav">
    <div class="logo-wrapper">
      <a href="#" id="logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 505.64 730.5"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Datový zdroj 2</title><g id="Vrstva_2" data-name="Vrstva 2"><g id="Vrstva_1-2" data-name="Vrstva 1"><g id="Vrstva_4" data-name="Vrstva 4"><path class="cls-1" d="M269.47,482,505.64,123.82H467.17L416.9,200.29H155.18L118.33,0,103.94,2.42l36.53,197.87H89.55L38.63,123.66H0L237.3,482.2V697.85H180.08V730.5H325.56V697.85H269.47ZM213.2,371.53v-126l111.85,63Z"/></g></g></g></svg>
      </a>
    </div>
    <div class="nav-menu-wrapper">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="#">O nás</a></li>
        <li><a href="#">Umístit reklamu</a></li>
        <li><a href="#">Přidat firmu</a></li>
        <li class="logIn-nav"><a href="/login">Přihlásit se</a></li>
        <li class="register-nav"><a href="/register">Registrovat se</a></li>
        <div class="swipe-btn">
          <input type="checkbox" id="swipe-checkbox">
          <label for="swipe-checkbox"><b></b></label>
        </div>
      </ul>
    </div>
  </div>

  <!--<div class="navWrapper">
    <div class="row">
      <div class="col-md-4">
        <div id="logo">
        <a href="/">
          <img src="#" alt="SVG logo">
          </a>
        </div>
      </div>

      <div class="col-md-8">
        <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="index.php?subject=PHP&web=W3schools.com">Test GET</a></li>
          <li>Text</li>
          <li>Text</li>
        </ul>
      </div>
    </div>
  </div>-->
</nav>
