<nav>
  <div class="ham-nav">
    <div class="logo-wrapper">
      <a href="#" id="logo">
        <svg version="1.1" id="Vrstva_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;" xml:space="preserve">
<style type="text/css">
	.st0{display:none;}
	.st1{fill:#FFFFFF;}
	.st2{enable-background:new    ;}
</style>
<g id="Vrstva_2_1_" class="st0">

		<image style="display:inline;overflow:visible;enable-background:new    ;" width="1920" height="1921" xlink:href="D:\Práce\baryzive\Club\ADD50B1C.png"  transform="matrix(9.537282e-02 0 0 9.537282e-02 -3213.6138 2498.7161)">
	</image>
</g>
<g id="Vrstva_1_1_">
	<g id="Vrstva_4">
		<g>
			<path class="st1" d="M274.3,407.1l22.5-34.2h-3.7l-4.8,7.3h-25l-3.5-19.1l-1.4,0.2l3.5,18.9h-4.9l-4.9-7.3h-3.7l22.6,34.2v20.6
				h-5.5v3.1h13.9v-3.1h-5.4V407.1z M268.9,396.6v-12l10.7,6L268.9,396.6z"/>
			<polygon class="st0" points="268.9,384.6 268.9,396.6 279.6,390.6 			"/>
		</g>
	</g>
</g>
<g id="Vrstva_3">
	<g class="st2">
		<path class="st1" d="M139.8,390.7c1.1,1.8,1.7,3.9,1.7,6.2c0,2.1-0.6,4.1-1.7,6c-1.1,1.8-2.7,3.3-4.6,4.3c2.3,0.8,4.3,2.2,5.8,4.3
			c1.5,2.1,2.3,4.4,2.3,7c0,2.3-0.6,4.4-1.7,6.3c-1.1,1.9-2.7,3.4-4.5,4.5c-1,0.5-2,0.9-3.2,1.2c-1.2,0.3-2.8,0.4-4.7,0.4h-19.2V385
			h18.3c2.9,0,5.2,0.4,6.9,1.3C137.1,387.4,138.7,388.8,139.8,390.7z M137.8,401.8c0.9-1.5,1.4-3.1,1.4-4.9c0-2-0.5-3.8-1.6-5.3
			c-1-1.5-2.4-2.6-4-3.3c-1.2-0.5-3.3-0.8-6.2-0.8h-15.1v18.8h16.3c2.3,0,4.1-0.4,5.5-1C135.6,404.4,136.8,403.3,137.8,401.8z
			 M139.5,423.8c1-1.6,1.5-3.3,1.5-5.2c0-2-0.5-3.8-1.5-5.4c-1-1.6-2.4-2.8-4.1-3.6c-1.3-0.6-3.1-0.9-5.3-0.9h-17.8v19.8h16.9
			c1.7,0,3-0.1,3.9-0.3c1-0.2,1.8-0.4,2.5-0.8C137.2,426.6,138.5,425.4,139.5,423.8z"/>
		<path class="st1" d="M173.3,385h2.6l18.8,45.8h-2.6l-6.2-15.1h-22.6l-6.2,15.1h-2.6L173.3,385z M164.3,413.3h20.6l-10.3-25.1
			L164.3,413.3z"/>
		<path class="st1" d="M239.4,392c1.5,2.4,2.3,5.1,2.3,8c0,3.4-1,6.5-3.1,9.2c-2.1,2.7-4.8,4.5-8,5.4l11.6,16.3h-2.9L228.1,415
			l-2.1,0.1h-16.5v15.7H207V385h17.4c1.9,0,3.6,0.1,5,0.4c1.4,0.2,2.6,0.6,3.8,1.2C235.8,387.8,237.9,389.6,239.4,392z M226.6,412.7
			c2.3,0,4.4-0.6,6.3-1.7c1.9-1.1,3.5-2.7,4.6-4.6c1.1-1.9,1.7-4,1.7-6.3c0-2.5-0.7-4.8-2-6.9c-1.3-2.1-3.2-3.6-5.6-4.6
			c-1.7-0.7-4.1-1-7.2-1h-15v25.2L226.6,412.7L226.6,412.7z"/>
	</g>
	<g class="st2">
		<path class="st1" d="M356.6,385l-0.1,2.4l-30.9,40.9h31v2.4h-34v-2.4l30.9-40.9h-30.1V385H356.6z M329.8,371.9l9.7,9.7l9.7-9.7
			l-1.7-1.7l-8,8l-8-8L329.8,371.9z"/>
		<path class="st1" d="M403.2,385v2.4h-13.7v40.9h13.7v2.4h-29.7v-2.4h13.6v-40.9h-13.6V385H403.2z"/>
		<path class="st1" d="M419.4,385l17.5,42.6l17.5-42.6h2.6l-18.8,45.8h-2.6L416.8,385H419.4z"/>
		<path class="st1" d="M472.3,387.5V406h25.9v2.4h-25.9v19.9h29.8v2.4h-32.3V385h32.3v2.4H472.3z M476.2,371.9l9.7,9.7l9.7-9.7
			l-1.7-1.7l-8,8l-8-8L476.2,371.9z"/>
	</g>
</g>
</svg>
      </a>
    </div>
    <div class="nav-menu-wrapper">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="#">Our Work</a></li>
        <li><a href="#about">About</a></li>
        <li class="logIn-nav"><a href="/login">Přihlásit se</a></li>
        <li class="register-nav"><a href="/register">Registrovat se</a></li>
        <div class="swipe-btn">
          <input type="checkbox" id="swipe-checkbox">
          <label for="swipe-checkbox"><b></b></label>
        </div>
      </ul>
    </div>
  </div>

  <!--<div class="navWrapper">
    <div class="row">
      <div class="col-md-4">
        <div id="logo">
        <a href="/">
          <img src="#" alt="SVG logo">
          </a>
        </div>
      </div>

      <div class="col-md-8">
        <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="index.php?subject=PHP&web=W3schools.com">Test GET</a></li>
          <li>Text</li>
          <li>Text</li>
        </ul>
      </div>
    </div>
  </div>-->
</nav>
