<nav>
  <div class="ham-nav">
    <div class="logo-wrapper">
      <a href="#" id="logo">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;" xml:space="preserve">
          <g id="Vrstva_1_1_">
	          <g id="Vrstva_4">
		          <g>
			          <path class="st1" d="M-1665.5,2084l236.2-358.2h-38.5l-50.3,76.5h-261.7l-36.9-200.3l-14.4,2.4l36.5,197.9h-50.9l-50.9-76.6     h-38.6l237.3,358.5v215.6h-57.2v32.7h145.5v-32.7h-56.1V2084z M-1721.8,1973.5v-126l111.8,63L-1721.8,1973.5z"/>
			          <polygon class="st0" points="-1721.8,1847.5 -1721.8,1973.5 -1610,1910.5    "/>
		          </g>
	          </g>
          </g>
          <g id="Vrstva_3">
	         <g class="st2">
		         <path class="st1" d="M-3075.1,1911.6c11.7,19.3,17.6,40.9,17.6,64.9c0,22.5-5.9,43.4-17.6,62.4c-11.7,19.1-27.9,34.2-48.6,45.2    c24.4,8.3,44.6,23.5,60.7,45.5c16.1,22.1,24.2,46.5,24.2,73.1c0,23.9-6,46-17.9,66.2c-12,20.2-27.8,35.9-47.6,46.9    c-10.1,5.5-21.4,9.7-33.8,12.4s-29,4.1-49.7,4.1h-201.5v-480.2h191.8c30.4,0,54.5,4.6,72.5,13.8    C-3103.5,1877.1-3086.8,1892.3-3075.1,1911.6z M-3096.8,2028.2c9.7-15.6,14.5-32.9,14.5-51.8c0-21.2-5.5-39.7-16.6-55.5    c-11-15.9-25.1-27.5-42.1-34.8c-12.9-5.5-34.5-8.3-64.9-8.3h-158.7v197.3h171.1c23.9,0,43-3.7,57.3-11    C-3119.6,2055.8-3106.5,2043.9-3096.8,2028.2z M-3078.9,2258.3c10.1-16.8,15.2-35.1,15.2-54.9c0-20.7-5.3-39.4-15.9-56.2    c-10.6-16.8-24.8-29.3-42.8-37.6c-13.8-6.4-32.4-9.7-55.9-9.7h-186.3v207.7h177.3c17.5,0,31.3-0.9,41.4-2.8    c10.1-1.8,18.9-4.6,26.2-8.3C-3102.6,2287.9-3089,2275.1-3078.9,2258.3z"/>
		         <path class="st1" d="M-2724.2,1852.3h26.9l197.3,480.2h-27.6l-64.9-158.7h-236.7l-65.5,158.7h-26.9L-2724.2,1852.3z M-2818.7,2149    h216l-108.3-263.6L-2818.7,2149z"/>
		         <path class="st1" d="M-2031.1,1925.4c15.9,25.3,23.8,53.4,23.8,84.2c0,35.9-10.9,68-32.8,96.3c-21.9,28.3-49.8,47-83.8,56.2    l122.1,170.4h-30.4l-118-165.6l-22.1,0.7h-173.2v164.9h-25.5v-480.2h182.8c20.2,0,37.6,1.3,52.1,3.8c14.5,2.5,27.7,6.6,39.7,12.1    C-2068.7,1881-2047,1900.1-2031.1,1925.4z M-2165.3,2142.1c23.9,0,46-6,66.2-17.9c20.2-12,36.3-28.1,48.3-48.3    c12-20.2,17.9-42.3,17.9-66.2c0-26.7-7-50.8-21-72.5c-14-21.6-33.5-37.7-58.3-48.3c-17.9-7.4-43.2-11-75.9-11h-157.3v264.3    H-2165.3z"/>
	         </g>
	         <g class="st2">
		        <path class="st1" d="M-802.8,1852.3l-0.7,25.5l-324.3,429.2h325v25.5h-356.7V2307l323.6-429.2h-316v-25.5H-802.8z M-1083.6,1714.3    l102.1,102.1l102.1-102.1l-17.9-17.9l-84.2,84.2l-84.2-84.2L-1083.6,1714.3z"/>
		        <path class="st1" d="M-314.9,1852.3v25.5h-143.5V2307h143.5v25.5h-311.2V2307h142.8v-429.2h-142.8v-25.5H-314.9z"/>
		        <path class="st1" d="M-144.5,1852.3L39,2298.7l183.5-446.4h26.9L52.1,2332.5H25.2l-197.3-480.2H-144.5z"/>
		        <path class="st1" d="M410.2,1877.8v194.6h271.9v25.5H410.2V2307h312.6v25.5H384.7v-480.2h338.1v25.5H410.2z M450.9,1714.3    l102.1,102.1l102.1-102.1l-17.9-17.9l-84.2,84.2l-84.2-84.2L450.9,1714.3z"/>
	         </g>
          </g>
        </svg>
      </a>
    </div>
    <div class="nav-menu-wrapper">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="#">Our Work</a></li>
        <li><a href="#about">About</a></li>
        <li class="logIn-nav"><a href="/login">Přihlásit se</a></li>
        <li class="register-nav"><a href="/register">Registrovat se</a></li>
        <div class="swipe-btn">
          <input type="checkbox" id="swipe-checkbox">
          <label for="swipe-checkbox"><b></b></label>
        </div>
      </ul>
    </div>
  </div>

  <!--<div class="navWrapper">
    <div class="row">
      <div class="col-md-4">
        <div id="logo">
        <a href="/">
          <img src="#" alt="SVG logo">
          </a>
        </div>
      </div>

      <div class="col-md-8">
        <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="index.php?subject=PHP&web=W3schools.com">Test GET</a></li>
          <li>Text</li>
          <li>Text</li>
        </ul>
      </div>
    </div>
  </div>-->
</nav>
