<nav>
  <div class="ham-nav">
    <div class="logo-wrapper">
      <a href="#" id="logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4282.6 884.38"><defs><style>.cls-1,.cls-2{fill:#fff;}.cls-2{font-size:690px;font-family:MajorMonoDisplay-Regular, Major Mono Display;}</style></defs><g id="Vrstva_2" data-name="Vrstva 2"><g id="Vrstva_1-2" data-name="Vrstva 1"><g id="Vrstva_4" data-name="Vrstva 4"><path class="cls-1" d="M1811.46,482l236.17-358.22h-38.47l-50.27,76.47H1697.17L1660.32,0l-14.39,2.42,36.53,197.87h-50.92l-50.92-76.63H1542l237.3,358.54V697.85h-57.22V730.5h145.48V697.85h-56.09Zm-56.27-110.51v-126l111.85,63Z"/></g></g><g id="Vrstva_3" data-name="Vrstva 3"><text class="cls-2" transform="translate(0 730.5)">bar</text><text class="cls-2" transform="translate(2240.22 730.5)">živě</text></g></g></svg>
      </a>
    </div>
    <div class="nav-menu-wrapper">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="#">Our Work</a></li>
        <li><a href="#about">About</a></li>
        <li class="logIn-nav"><a href="/login">Přihlásit se</a></li>
        <li class="register-nav"><a href="/register">Registrovat se</a></li>
        <div class="swipe-btn">
          <input type="checkbox" id="swipe-checkbox">
          <label for="swipe-checkbox"><b></b></label>
        </div>
      </ul>
    </div>
  </div>

  <!--<div class="navWrapper">
    <div class="row">
      <div class="col-md-4">
        <div id="logo">
        <a href="/">
          <img src="#" alt="SVG logo">
          </a>
        </div>
      </div>

      <div class="col-md-8">
        <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="index.php?subject=PHP&web=W3schools.com">Test GET</a></li>
          <li>Text</li>
          <li>Text</li>
        </ul>
      </div>
    </div>
  </div>-->
</nav>
