<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block accountTitle %}Register{% endblock %}</title>


                        <meta name="google-signin-scope" content="profile email">
                        <meta name="google-signin-client_id" content="500004357895-e8pjfbmghees1dfgf43gfvmm4o35tqph.apps.googleusercontent.com">
                        <script src="https://apis.google.com/js/platform.js" async defer></script>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous" />
        <link rel="stylesheet" href="assets/styles/css/style.css" type="text/css" />
        {% endblock %}
    </head>
    <body class="register-page">
        {% block body %}
        <header>
        {{ include('navigation.html.twig') }}
        </header>

        <section id="register">
          <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v5.0&appId=752564898557063&autoLogAppEvents=1"></script>
          <div class="register-wrapper">
            <div class="register-text">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve">
                <g>
                  <g>
	                   <g>
		                    <path d="M199.995,0C89.716,0,0,89.72,0,200c0,110.279,89.716,200,199.995,200C310.277,400,400,310.279,400,200    C400,89.72,310.277,0,199.995,0z M199.995,373.77C104.182,373.77,26.23,295.816,26.23,200c0-95.817,77.951-173.77,173.765-173.77    c95.817,0,173.772,77.953,173.772,173.77C373.769,295.816,295.812,373.77,199.995,373.77z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#6F83A8"/>
		                    <path d="M279.478,186.884h-66.363V120.52c0-7.243-5.872-13.115-13.115-13.115s-13.115,5.873-13.115,13.115v66.368h-66.361    c-7.242,0-13.115,5.873-13.115,13.115c0,7.243,5.873,13.115,13.115,13.115h66.358v66.362c0,7.242,5.872,13.114,13.115,13.114    c7.242,0,13.115-5.872,13.115-13.114v-66.365h66.367c7.241,0,13.114-5.873,13.114-13.115    C292.593,192.757,286.72,186.884,279.478,186.884z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#6F83A8"/>
	                   </g>
                   </g>
                 </g>
              </svg>
              <h2>Registrace</h2>
              <p>Již máte účet? <a href="#">Přihlašte se</a>.</p>
              <p>Zaregistrujte se pomocí sociální sítě</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="fb-register">

                  <fb:login-button scope="public_profile" onlogin="checkLoginState();">
                  </fb:login-button>

                  <div id="status"></div>
                  <script>

                    window.fbAsyncInit = function() {
                      FB.init({
                        appId      : '752564898557063',
                        cookie     : true,
                        xfbml      : true,
                        version    : 'v5.0'
                      });

                      FB.AppEvents.logPageView();

                    };

                    (function(d, s, id){
                       var js, fjs = d.getElementsByTagName(s)[0];
                       if (d.getElementById(id)) {return;}
                       js = d.createElement(s); js.id = id;
                       js.src = "https://connect.facebook.net/en_US/sdk.js";
                       fjs.parentNode.insertBefore(js, fjs);
                     }(document, 'script', 'facebook-jssdk'));


                     function statusChangeCallback(response) {
                                     console.log('statusChangeCallback');
                                     console.log(response);
                                     // The response object is returned with a status field that lets the
                                     // app know the current login status of the person.
                                     // Full docs on the response object can be found in the documentation
                                     // for FB.getLoginStatus().
                                     if (response.status === 'connected') {
                                         // Logged into your app and Facebook.
                                         console.log('Welcome!  Fetching your information.... ');
                                         FB.api('/me', function (response) {
                                             console.log('Successful login for: ' + response.name);
                                             document.getElementById('status').innerHTML =
                                               'Thanks for logging in, ' + response.name + '!';
                                         });
                                     } else {
                                         // The person is not logged into your app or we are unable to tell.
                                         document.getElementById('status').innerHTML = 'Please log ' +
                                           'into this app.';
                                     }
                                 }

          FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
          });


          function checkLoginState() {
            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            }, {scope: 'email'});
          }
                  </script>


                                </div>
              </div>
              <div class="col-md-6">
                <div class="google-register">

                  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                     <script>
                       function onSignIn(googleUser) {
                         // Useful data for your client-side scripts:
                         var profile = googleUser.getBasicProfile();
                         console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                         console.log('Full Name: ' + profile.getName());
                         console.log('Given Name: ' + profile.getGivenName());
                         console.log('Family Name: ' + profile.getFamilyName());
                         console.log("Image URL: " + profile.getImageUrl());
                         console.log("Email: " + profile.getEmail());

                         // The ID token you need to pass to your backend:
                         var id_token = googleUser.getAuthResponse().id_token;
                         var xhr = new XMLHttpRequest();
                         xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
          alert("ready state 4");
            if (xhr.status === 200) {
                       // OK
                       alert('token:' + id_token);
                       // here you can use the result (xhr.responseText)
            } else {
                       // not OK
                       alert(xhr.status);
            }
        }
};
                         xhr.open('POST', 'https://dom.baryzive.cz/', true);
                         xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                         xhr.onload = function() {
                           console.log('Signed in as: ' + id_token);
                         };
                         xhr.send('idtoken=' + id_token);
                       }
                  
                     /**
                      * sends a request to the specified url from a form. this will change the window location.
                      * @param {string} path the path to send the post request to
                      * @param {object} params the paramiters to add to the url
                      * @param {string} [method=post] the method to use on the form
                      */

                     function post(path, params, method='post') {

                       // The rest of this code assumes you are not using a library.
                       // It can be made less wordy if you use one.
                       const form = document.createElement('form');
                       form.method = method;
                       form.action = path;

                       for (const key in params) {
                         if (params.hasOwnProperty(key)) {
                           const hiddenField = document.createElement('input');
                           hiddenField.type = 'hidden';
                           hiddenField.name = key;
                           hiddenField.value = params[key];

                           form.appendChild(hiddenField);
                         }
                       }

                       document.body.appendChild(form);
                       form.submit();
                     }

                     post('/register', {name: 'Johnny Bravo', age: '18'});



                     </script>

                </div>
              </div>
            </div>
            <p class="or-line"><span>nebo</span></p>
            <form class="register-form" method="post">
              <input class="dark-input" type="text" name="user-name" placeholder="Uživatelské jméno">
              <input class="dark-input" type="email" name="user-mail" placeholder="E-mail">
              <input class="dark-input" type="password" name="user-pass" placeholder="Heslo">
              <input class="dark-input" type="password" name="user-pass-again" placeholder="Heslo znovu">
              <div class="register-conditions">
                <div class="terms-and-conditions">
                  <input type="checkbox" name="terms-and-conditions" value="Obchodní podmínky"><span>Souhlasím se zpracováním <a href="#">osobních údajů</a>.</span>
                </div>
                <div class="newsletter-conditions">
                  <input type="checkbox" name="newsletter-conditions" value="Zasílání newsletteru"><span>Souhlasím se zasíláním newsletteru.</span>
                </div>
              </div>
              <input type="submit" name="register-btn" value="Registrovat se" class="register-btn">
            </form>
          </div>
        </section>

        {% block javascripts %}


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
        <script type="text/javascript" src="assets/scripts/swipe-btn.js"></script>
        {% endblock %}
        {% endblock %}
    </body>
</html>
