<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="500004357895-e8pjfbmghees1dfgf43gfvmm4o35tqph.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="assets/styles/css/style.css">
        {% endblock %}
    </head>
    <body class="city-layout">
        {% block body %}

        <header>
          {{ include('navigation.html.twig') }}
        </header>

        <section id="voucher-fixed-info">
          <h2>Kolik slevových voucherů můžete dnes získat?</h2>
          <p id="voucher-count">3x</p>
        </section>

        <section id="voucher-list">
          <div class="voucher-list-content">
            <div class="voucher-cats">
              <h2>Kategorie slevových voucherů</h2>
              <div class="voucher-cats-wrapper">
                <div class="add-voucher voucher-cat-box">
                  <div class="add-voucher-content">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 448">
                      <g>
                        <path d="m272 184c-4.417969 0-8-3.582031-8-8v-176h-80v176c0 4.417969-3.582031 8-8 8h-176v80h176c4.417969 0 8 3.582031 8 8v176h80v-176c0-4.417969 3.582031-8 8-8h176v-80zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
                      </g>
                    </svg>
                    <p>Máte co nabídnout? Přidejte svůj slevový voucher.</p>
                  </div>
                </div>
                <div class="voucher-cat-box">
                  <img src="assets/imgs/img-cat.png" alt="Voucher kategorie">
                  <p>Jídlo</p>
                </div>
                <div class="voucher-cat-box">
                  <img src="assets/imgs/img-cat02.png" alt="Voucher kategorie">
                  <p>Pití</p>
                </div>
                <div class="voucher-cat-box">
                  <img src="#" alt="Voucher kategorie">
                  <p>test</p>
                </div>
                <div class="voucher-cat-box">
                  <img src="#" alt="Voucher kategorie">
                  <p>test</p>
                </div>
                <div class="voucher-cat-box">
                  <img src="#" alt="Voucher kategorie">
                  <p>test</p>
                </div>
              </div>
            </div>
            <div class="voucher-list">
              <h2>Dostupné slevové vouchery</h2>
              <div class="voucher-list-wrapper">
                <ul>
                  <li>
                    <div class="voucher-list-item">
                      <div class="voucher-item-info">
                        <div class="voucher-item-img">
                          <img src="assets/imgs/mc.png" alt="Company">
                        </div>
                        <div class="voucher-item-text">
                          <h3>Mc Donald's</h3>
                          <p><strong>25% Sleva</strong> na HappyMeal</p>
                        </div>
                      </div>
                      <div class="voucher-item-btn">
                        <a href="#">Získat</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="voucher-list-item">
                      <div class="voucher-item-info">
                        <div class="voucher-item-img">
                          <img src="assets/imgs/kfc.png" alt="Company">
                        </div>
                        <div class="voucher-item-text">
                          <h3>KFC</h3>
                          <p>Bucket za <strong>1/2</strong>!</p>
                        </div>
                      </div>
                      <div class="voucher-item-btn">
                        <a href="#">Získat</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="voucher-list-item">
                      <div class="voucher-item-info">
                        <div class="voucher-item-img">
                          <img src="assets/imgs/burger-king.png" alt="Company">
                        </div>
                        <div class="voucher-item-text">
                          <h3>Burger King</h3>
                          <p>Double cheesse za kačku!</p>
                        </div>
                      </div>
                      <div class="voucher-item-btn">
                        <a href="#">Získat</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="voucher-list-item">
                      <div class="voucher-item-info">
                        <div class="voucher-item-img">
                          <img src="assets/imgs/ugo.png" alt="Company">
                        </div>
                        <div class="voucher-item-text">
                          <h3>Ugo salaterie</h3>
                          <p>Polívky a sálaty za <strong>1/2</strong>!</p>
                        </div>
                      </div>
                      <div class="voucher-item-btn">
                        <a href="#">Získat</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="voucher-list-item">
                      <div class="voucher-item-info">
                        <div class="voucher-item-img">
                          <img src="assets/imgs/pizza-point.png" alt="Company">
                        </div>
                        <div class="voucher-item-text">
                          <h3>Pizza Point</h3>
                          <p>Pizza + drink <strong>zdarma</strong>!</p>
                        </div>
                      </div>
                      <div class="voucher-item-btn">
                        <a href="#">Získat</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="voucher-list-item">
                      <div class="voucher-item-info">
                        <div class="voucher-item-img">
                          <img src="assets/imgs/paluba.png" alt="Company">
                        </div>
                        <div class="voucher-item-text">
                          <h3>Paluba</h3>
                          <p>Každý druhý drink zdarma!</p>
                        </div>
                      </div>
                      <div class="voucher-item-btn">
                        <a href="#">Získat</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{ include('newsletter.html.twig') }}

        {{ include('footer.html.twig') }}

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
        {% endblock %}
        {% endblock %}
    </body>
</html>
