<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="500004357895-e8pjfbmghees1dfgf43gfvmm4o35tqph.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="assets/styles/css/style.css">
        {% endblock %}
    </head>
    <body class="city-layout">
        {% block body %}

        <header>
          {{ include('navigation.html.twig') }}
        </header>

        <section id="voucher-list">
          <div class="voucher-list-content">
            <div class="voucher-cats">
              <h2>Nadpis</h2>
              <div class="voucher-cats-wrapper">
                <div class="add-voucher voucher-cat-box">
                  <p>test</p>
                </div>
                <div class="voucher-cat-box">
                  <img src="assets/imgs/img-cat.png" alt="Voucher kategorie">
                  <p>Jídlo</p>
                </div>
                <div class="voucher-cat-box">
                  <img src="assets/imgs/img-cat02.png" alt="Voucher kategorie">
                  <p>Pití</p>
                </div>
                <div class="voucher-cat-box">
                  <img src="#" alt="Voucher kategorie">
                  <p>test</p>
                </div>
                <div class="voucher-cat-box">
                  <img src="#" alt="Voucher kategorie">
                  <p>test</p>
                </div>
                <div class="voucher-cat-box">
                  <img src="#" alt="Voucher kategorie">
                  <p>test</p>
                </div>
              </div>
            </div>
            <div class="voucher-list">
              <h2>Nadpis</h2>
              <div class="voucher-list-wrapper">
                <ul>
                  <li>
                    <div class="voucher-list-item">
                      <div class="voucher-item-info">
                        <div class="voucher-item-img">
                          <img src="assets/imgs/mc.png" alt="Company">
                        </div>
                        <div class="voucher-item-text">
                          <h3>Test</h3>
                          <p>Test</p>
                        </div>
                      </div>
                      <div class="voucher-item-btn">
                        <a href="#">Získat</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="voucher-list-item">
                      <div class="voucher-item-info">
                        <div class="voucher-item-img">
                          <img src="#" alt="Company">
                        </div>
                        <div class="voucher-item-text">
                          <h3>Test</h3>
                          <p>Test</p>
                        </div>
                      </div>
                      <div class="voucher-item-btn">
                        <a href="#">Získat</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="voucher-list-item">
                      <div class="voucher-item-info">
                        <div class="voucher-item-img">
                          <img src="#" alt="Company">
                        </div>
                        <div class="voucher-item-text">
                          <h3>Test</h3>
                          <p>Test</p>
                        </div>
                      </div>
                      <div class="voucher-item-btn">
                        <a href="#">Získat</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="voucher-list-item">
                      <div class="voucher-item-info">
                        <div class="voucher-item-img">
                          <img src="#" alt="Company">
                        </div>
                        <div class="voucher-item-text">
                          <h3>Test</h3>
                          <p>Test</p>
                        </div>
                      </div>
                      <div class="voucher-item-btn">
                        <a href="#">Získat</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="voucher-list-item">
                      <div class="voucher-item-info">
                        <div class="voucher-item-img">
                          <img src="#" alt="Company">
                        </div>
                        <div class="voucher-item-text">
                          <h3>Test</h3>
                          <p>Test</p>
                        </div>
                      </div>
                      <div class="voucher-item-btn">
                        <a href="#">Získat</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="voucher-list-item">
                      <div class="voucher-item-info">
                        <div class="voucher-item-img">
                          <img src="#" alt="Company">
                        </div>
                        <div class="voucher-item-text">
                          <h3>Test</h3>
                          <p>Test</p>
                        </div>
                      </div>
                      <div class="voucher-item-btn">
                        <a href="#">Získat</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{ include('newsletter.html.twig') }}

        {{ include('footer.html.twig') }}

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
        {% endblock %}
        {% endblock %}
    </body>
</html>
