$primary-font: "Montserrat", sans-serif;
$primary-btn: #C10F77; /*#37EEA3*/
$primaryBorder-underBtn: 3px solid #BE0754; /*#24CE88*/
$secondary-btn: #E8E8E8;
$secondaryBorder-underBtn: 3px solid #D6D6D6;
$primary-color: #000666;
$focus-color: #C10F77;
$secondary-color: #6F83A8;
$link-color: #C10F77 !important;
$max-width: 1350px;

//Responsive
$phone-fontSize: 14px;

/* DARK THEME -------------------------- */
$dark-darker-bg: #131417;
$dark-lighter-bg: #1E1F26;
$dark-input: #2a2d34;
$dark-text: #9b9dad;
