$primary-font: "Montserrat", sans-serif;
$primary-btn: #37EEA3;
$primaryBorder-underBtn: 3px solid #24CE88;
$secondary-btn: #E8E8E8;
$secondaryBorder-underBtn: 3px solid #D6D6D6;
$primary-color: #000666;
$secondary-color: #6F83A8;
$link-color: #37EEA3;
$max-width: 1350px;

//Responsive
$phone-fontSize: 14px;
