<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="../src/styles/style.css" type="text/css" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <h1> {{ name }} </h1>
    <h2> {{ occupation }} </h2>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
